@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Colors
 */
/**
 * Measures
 */

@keyframes pulsate {
  0%, 100% {
    opacity: .2; }
  50% {
    opacity: 1; } }

@keyframes rotate-vert-center {
  50% {
    transform: rotateY(360deg);
    transform: scaleX(-1); }
  100% {
    transform: rotateY(1deg);
    transform: scaleX(1); } }

html,
body {
  min-height: 100%;
  margin: 0;
  background: #242422;
  font-size: 16px;
  font-family: Georgia;
  font-weight: normal; }

/**
 * Strip unit from size
 * @param  {string} $number Size with unit
 * @return {int}            Size without unit
 */
/**
 * Px to rem mixin
 * @param  {int}    $size Font size without unit (px)
 * @return {string} Font size in rem
 */
/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
/**
 * Susy config
 */
@font-face {
  font-family: 'printhousemedium';
  src: url("../src/fonts/printhouse-webfont.woff2") format("woff2"), url("../src/fonts/printhouse-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'avianbold';
  src: url("../src/fonts/avian_bold-webfont.woff2") format("woff2"), url("../src/fonts/avian_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-family: 'Georgia';
  font-size: 16px; }

body {
  font-size: 1.125rem; }

h1 {
  font-family: 'avianbold';
  text-align: center;
  text-transform: uppercase;
  font-size: 3.3rem;
  line-height: 4rem;
  letter-spacing: 0.25rem;
  word-wrap: break-word; }

h2 {
  font-family: 'avianbold';
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.16rem;
  word-wrap: break-word; }

h3 {
  font-family: 'avianbold';
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0.16rem; }

h4 {
  font-family: 'avianbold';
  text-align: center;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.6rem;
  letter-spacing: 0.16rem; }

.body-copy-big {
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 2rem; }

.body-copy {
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.75rem; }

.body-copy-small {
  font-family: Georgia;
  font-weight: normal;
  font-size: 0.84rem;
  line-height: 1.25rem; }

.allergense, .meal-more, .meal-single-allergens {
  font-family: 'avianbold';
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.09rem; }

.header {
  font-family: 'avianbold';
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1.7rem;
  letter-spacing: 0.15rem; }

.avian, .link, .restaurant-list a,
.menu-list a, .submenu-list a, .to-top-anchor, .social-link, .restaurant-list, .about-cookie-info h4 {
  font-family: 'avianbold';
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.09rem; }

.submenu, .submenu-list a, .to-top {
  font-family: 'avianbold';
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.09rem; }

.handwriting {
  font-family: 'printhousemedium';
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #842F1A; }

/**
 * Meal
 */
.meal-single-title, .meal-single-price {
  font-family: 'avianbold';
  text-transform: uppercase;
  text-align: left; }

.shared-meal-single-title {
  text-align: center; }

.meal-single-desc, .content-sections .content-text {
  font-family: Georgia;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: normal;
  text-align: left;
  color: #867a76; }

.shared-meal-single-desc {
  text-align: center; }

.shared-menu-price {
  font-family: 'avianbold';
  text-transform: uppercase;
  text-align: left;
  color: #a1624c;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.09rem; }

.content-title {
  font-family: 'avianbold';
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: center; }

.about-content, .about-intro-text {
  font-family: Georgia;
  font-size: 1.25rem;
  line-height: 2rem; }

@media only screen and (max-width: 600px) {
  h1 {
    font-family: 'avianbold';
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 2.1rem; }
  h2 {
    font-family: 'avianbold';
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.8rem; }
  h3 {
    font-family: 'avianbold';
    text-transform: uppercase;
    font-size: 1.05rem;
    line-height: 1.8rem; }
  h4 {
    font-family: 'avianbold';
    text-transform: uppercase;
    font-size: 0.9rem;
    line-height: 1.35rem; }
  .body-copy-big {
    font-family: Georgia;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem; }
  .body-copy {
    font-family: Georgia;
    font-weight: normal;
    font-size: 0.88rem;
    line-height: 1.25rem; }
  .body-copy-small {
    font-family: Georgia;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 1rem; }
  .allergense, .meal-more, .meal-single-allergens {
    font-family: 'avianbold';
    text-transform: uppercase;
    font-size: 0.625rem;
    line-height: 1.25rem; }
  .avian-small {
    font-family: 'avianbold';
    text-transform: uppercase;
    font-size: 0.62rem;
    line-height: 0.88rem; }
  .handwriting {
    font-family: 'printhousemedium';
    font-size: 1.2rem;
    line-height: 1.8rem; }
  .meal-single-desc, .content-sections .content-text {
    font-size: 0.875rem;
    line-height: 1.3125rem; } }

/**
 * Animate preloader
 */
.animate-show,
.animate-hide {
  transition: all linear 0.15s; }

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important; }

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important; }

.max-width {
  max-width: 2000px;
  margin: 0 auto;
  min-height: 100%; }

.outer-container {
  padding: 39px 56px 0;
  overflow: auto;
  text-align: center;
  min-height: 100%; }

.inner-container {
  padding: 56px;
  overflow: auto; }

.section-padding  {
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: auto; }

.page-wrap {
  background: #2c2a28; }

.text-padding {
  max-width: 640px;
  padding-top: 55px;
  padding-bottom: 55px;
  margin: 0 auto; }
  .text-padding + .text-padding {
    padding-bottom: 40px; }

.section-content p {
  font-size: 1.125rem; }

.section-content p:not(:last-child) {
  margin: 0 0 30px; }

.section-content a {
  color: #a1624c;
  text-decoration: none;
  transition: all 0.2s ease; }
  .section-content a:hover {
    text-decoration: none;
    letter-spacing: .5px; }

.black {
  background: #2c2a28;
  color: #a39992; }

.white {
  background: #fbf6e5;
  color: #5f504b; }

.main-collums {
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

.overlay {
  position: relative; }

.overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.overlay-black:after {
  background: #2c2a28;
  opacity: .2; }

.overlay-brown:after {
  background: #a1624c;
  opacity: .75; }

.overlay-text {
  color: #fbf6e5;
  left: 0;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

h1.overlay-title {
  font-size: 5vw;
  line-height: 6.2vw; }

h2.overlay-subtitle {
  font-size: 2vw;
  line-height: 3vw; }

/**
 * Handwriting
 */
.handwriting {
  padding-bottom: 40px; }

.images-container {
  margin: 20px 0; }

.img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: auto; }

.img-big {
  display: block;
  max-width: 475px;
  height: 660px;
  padding: 15px 15px 15px 15px; }
  .img-big img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    overflow: hidden;
    font-family: 'object-fit: cover;  object-position: 50% 40%;'; }

.image-vertical {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

.img-small {
  max-width: 475px;
  height: 315px;
  padding: 15px 15px 15px 15px; }
  .img-small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    overflow: hidden;
    font-family: 'object-fit: cover;  object-position: 50% 40%;'; }

.link, .restaurant-list a,
.menu-list a, .submenu-list a, .to-top-anchor, .social-link {
  color: #a1624c;
  transition: all 0.3s ease; }
  .link a, .restaurant-list a a,
  .menu-list a a, .submenu-list a a, .to-top-anchor a, .social-link a {
    color: #a1624c;
    text-decoration: none; }
    .link a:visited, .restaurant-list a a:visited,
    .menu-list a a:visited, .submenu-list a a:visited, .to-top-anchor a:visited, .social-link a:visited {
      color: #a1624c;
      text-decoration: none; }
    .link a:hover, .restaurant-list a a:hover,
    .menu-list a a:hover, .submenu-list a a:hover, .to-top-anchor a:hover, .social-link a:hover {
      color: #a1624c;
      text-decoration: none;
      transition: all 0.3s ease; }
    .link a:active, .restaurant-list a a:active,
    .menu-list a a:active, .submenu-list a a:active, .to-top-anchor a:active, .social-link a:active, .link a:focus, .restaurant-list a a:focus,
    .menu-list a a:focus, .submenu-list a a:focus, .to-top-anchor a:focus, .social-link a:focus {
      color: #a1624c;
      text-decoration: none; }

.logo-big {
  width: 25%;
  box-sizing: border-box;
  height: auto;
  margin: 0 auto; }

.icon-small {
  width: 30px;
  margin-top: 10px;
  margin-bottom: 10px; }

.icon-smaller {
  width: 15px;
  margin-top: 10px;
  margin-bottom: 10px; }

.icon-small-18 {
  width: 18px;
  margin-top: 10px;
  margin-bottom: 10px; }

.icon-small-20 {
  width: 20px;
  margin-top: 10px;
  margin-bottom: 10px; }

.short-hr, hr.grey-hr, hr.white-hr {
  border: 0;
  width: 20px;
  height: 2px; }

hr.grey-hr {
  background: #867a76;
  margin: 15px auto; }

hr.white-hr {
  background: #fbf6e5; }

.long-hr, hr.grey-big-hr {
  width: 100%;
  height: 1px; }

hr.grey-big-hr {
  background: #dad4c2; }

.border-bottom-grey, .vAccordion--default v-pane {
  border-bottom: 2px solid #dad4c2; }

.border-bottom-grey:last-child, .vAccordion--default v-pane:last-child {
  border-bottom: none; }

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: solid 2px;
  width: 260px;
  padding: 20px 40px 20px 40px;
  transition: all 0.2s ease;
  cursor: pointer; }

.brown-button {
  border: solid 2px #a1624c;
  color: #a1624c;
  cursor: pointer;
  transition: all 0.2s ease; }
  .brown-button:hover {
    letter-spacing: 2px; }

.button-transparent {
  color: #a1624c;
  border: 2px solid #a1624c;
  text-decoration: none;
  transition: all 0.2s ease; }
  .button-transparent:hover {
    letter-spacing: 3px; }

.button-full {
  z-index: 100;
  position: fixed;
  display: block;
  bottom: 0;
  width: calc(100% - 122px);
  max-width: 1878px;
  padding: 15px 5px;
  font-family: 'avianbold';
  font-size: 1rem;
  line-height: 1.625rem;
  background: #842F1A;
  color: #fbf6e5;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
  transition: all 0.2s ease; }
  .button-full:hover, .button-full:focus {
    letter-spacing: 2px;
    background: #99331F; }

.bottom-space-for-booking-button {
  height: 70px; }

/**
 * Header
 */
.header-main:after,
.header-submenu:after {
  content: " ";
  display: block;
  clear: both; }

.header-main {
  position: relative;
  padding-bottom: 15px; }

.restaurant-list,
.logo-wrap,
.main-menu {
  box-sizing: border-box;
  width: 33.33333%;
  float: left; }

.restaurant-list {
  color: #867a76;
  padding-top: 15px; }

.restaurant-list a {
  text-decoration: none; }

.restaurant-city-dropdown {
  font-family: Georgia;
  font-weight: normal;
  font-size: 0.5rem;
  line-height: 1.25rem;
  color: #a1624c; }

.restaurant-city-mobile-menu {
  text-transform: none;
  letter-spacing: 0.0rem; }

.logo-wrap {
  text-align: center; }

.logo {
  max-width: 120px; }

.menu-list {
  float: right;
  padding: 12px 0 0;
  margin: 0;
  list-style: none; }
  .menu-list:after {
    content: " ";
    display: block;
    clear: both; }

.menu-list li {
  float: left; }
  .menu-list li:not(:last-child) {
    margin-right: 30px; }

.restaurant-list a,
.menu-list a {
  color: #867a76;
  text-decoration: none; }
  .restaurant-list a:hover,
  .menu-list a:hover {
    letter-spacing: 2px; }
  .restaurant-list a.active,
  .menu-list a.active {
    color: #a1624c; }

.selected-language {
  display: inline-block;
  color: #a1624c; }

.mobile-menu-restaurants {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%; }

.header-submenu {
  padding-top: 18px;
  padding-bottom: 12px;
  background: #242422; }

.submenu-list {
  padding: 0;
  margin: 0; }

.submenu-list li {
  position: relative;
  display: inline-block;
  padding-right: 45px;
  font-size: 0; }
  .submenu-list li:not(:last-child):after {
    position: absolute;
    content: '';
    top: 8px;
    right: 12px;
    width: 15px;
    height: 2px;
    background: #867a76; }

.submenu-list a {
  text-decoration: none;
  color: #867a76;
  white-space: nowrap; }
  .submenu-list a:hover {
    letter-spacing: 2.5px; }

/**
 * Container widths
 */
.narrow-width, .about-intro, .content-sections .content-text-block {
  max-width: 640px;
  margin: 0 auto; }

/**
 * Preloader
 */
.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #242422;
  z-index: 99999; }

.preloader-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100px;
  margin: auto;
  background: url("../img/small-icon.svg") no-repeat 50%;
  animation: rotate-vert-center 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  /* Firefox */
  /* Internet Explorer */
  /* opera */
  backface-visibility: hidden; }

/**
 * Footer
 */
.footer:after {
  content: " ";
  display: block;
  clear: both; }

.to-top {
  text-align: center;
  padding: 18px 0; }

.to-top-anchor {
  text-decoration: none; }
  .to-top-anchor:hover {
    letter-spacing: 2.5px; }

/**
 * Mobile menu
 */
.mobile-menu {
  display: none;
  position: absolute;
  top: 6px;
  right: 0;
  z-index: 200; }

.mobile-menu-icon {
  width: 20px;
  height: 17px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer; }

.mobile-menu-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #867a76;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out; }

.mobile-menu-icon span:nth-child(1) {
  top: 0px; }

.mobile-menu-icon span:nth-child(2), .mobile-menu-icon span:nth-child(3) {
  top: 8px; }

.mobile-menu-icon span:nth-child(4) {
  top: 16px; }

.mobile-menu-icon.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%; }

.mobile-menu-icon.open span:nth-child(2) {
  transform: rotate(45deg); }

.mobile-menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg); }

.mobile-menu-icon.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%; }

.mobile-restaurant-list {
  display: none; }

/**
 * Responsive
 */
@media only screen and (min-width: 2000px) {
  h1.overlay-title {
    font-size: 100px; }
  h2.overlay-subtitle {
    font-size: 40px; } }

@media only screen and (max-width: 1100px) {
  .img-big {
    width: auto;
    max-height: 480px;
    padding: 10px 10px 10px 10px; }
  .img-small {
    width: auto;
    max-height: 230px;
    padding: 10px 10px 10px 10px; } }

@media only screen and (max-width: 1150px) {
  .outer-container {
    padding: 20px 56px 0; }
  .header-main {
    padding-bottom: 8px; }
  .header-submenu,
  .header-main .restaurant-list {
    display: none; }
  .header-main .logo-wrap {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    float: left;
    z-index: 150; }
  .mobile-menu {
    display: block; }
  .mobile-restaurant-list {
    display: block; }
  .logo {
    max-width: 80px; }
  .main-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #242422;
    max-height: 0;
    overflow: hidden;
    z-index: 110;
    transition: all 0.3s ease; }
  .main-menu.open {
    position: fixed;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .menu-list {
    padding-top: 115px;
    padding-bottom: 70px;
    float: none;
    border-bottom: 1px solid #5f504b; }
  .menu-list li {
    float: none;
    display: block;
    margin: 0; }
    .menu-list li:not(:last-child) {
      margin-right: 0; }
  .menu-list li:not(:last-child) {
    margin-bottom: 8px; }
  .header-main .menu-list a {
    font-size: 1.125rem;
    line-height: 2.875rem; }
  h4.mobile-menu-restaurant-header {
    color: #867a76; }
  .noscroll {
    overflow: hidden; } }

@media only screen and (max-width: 720px) {
  .outer-container {
    padding: 20px 20px 10px; }
  .inner-container {
    padding: 20px; }
  .main-collums {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  h1.overlay-title {
    font-size: 6vw; }
  h2.overlay-subtitle {
    font-size: 3vw;
    line-height: 6vw; }
  .logo-big {
    width: 40%; }
  .img {
    display: block; }
  .img-big {
    width: auto;
    height: auto;
    max-height: 800px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px; }
  .img-small {
    width: auto;
    height: auto;
    max-height: 800px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px; }
  .text-padding {
    width: 100%; }
  .button-full {
    width: calc(100% - 50px); } }

@media only screen and (max-width: 600px) {
  .link, .restaurant-list a,
  .menu-list a, .submenu-list a, .to-top-anchor, .social-link,
  .link a, .restaurant-list a a,
  .menu-list a a, .submenu-list a a, .to-top-anchor a, .social-link a {
    font-size: 0.625rem; }
  .to-top {
    padding: 28px 0 18px; }
  .button {
    width: 150px;
    padding: 8px 23px 8px 23px; }
  .button-full {
    font-size: 0.875rem;
    line-height: 1.5625rem;
    width: calc(100% - 50px); }
  .section-title {
    font-size: 0.625rem;
    line-height: 1.25rem;
    letter-spacing: 0.02rem; }
  .section-content p {
    font-size: 0.875rem;
    line-height: 1.25rem; }
  .section-content p:not(:last-child) {
    margin: 0 0 20px; }
  .images-container {
    margin: 15px 0; }
  .text-padding + .text-padding {
    padding-top: 30px; }
  hr.grey-hr {
    margin: 10px auto; } }

.header-img-wrapper {
  position: relative; }
  .header-img-wrapper:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 56.25%; }
  .header-img-wrapper > .header-image-ratio {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.header-image-ratio {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

.header-image {
  position: absolute;
  width: 100%;
  height: 100%; }
  .header-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    overflow: hidden;
    font-family: 'object-fit: cover;  object-position: 50% 40%;'; }

.slideshow {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 2000px;
  max-height: 1500px;
  margin: 0 auto;
  overflow: hidden; }

.slideshow-two-images {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns-two-images;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  opacity: 1;
  transform: scale(1.2); }

.slideshow-two-images:nth-child(1) {
  animation-name: kenburns-two-images-1;
  z-index: 1; }

.slideshow-two-images:nth-child(2) {
  animation-name: kenburns-two-images-2;
  z-index: 0; }

.slideshow-three-images {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns-three;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 16.5s;
  opacity: 1;
  transform: scale(1.16); }

.slideshow-three-images:nth-child(1) {
  animation-name: kenburns-three-1;
  z-index: 2; }

.slideshow-three-images:nth-child(2) {
  animation-name: kenburns-three-2;
  z-index: 1; }

.slideshow-three-images:nth-child(3) {
  animation-name: kenburns-three-3;
  z-index: 0; }

.slideshow-four-images {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns-four;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 22s;
  opacity: 1;
  transform: scale(1.16); }

.slideshow-four-images:nth-child(1) {
  animation-name: kenburns-four-1;
  z-index: 3; }

.slideshow-four-images:nth-child(2) {
  animation-name: kenburns-four-2;
  z-index: 2; }

.slideshow-four-images:nth-child(3) {
  animation-name: kenburns-four-3;
  z-index: 1; }

.slideshow-four-images:nth-child(4) {
  animation-name: kenburns-four-4;
  z-index: 0; }

@keyframes kenburns-two-images-1 {
  0% {
    opacity: 1;
    transform: scale(1.2) translate(80px, 20px); }
  4.16667% {
    opacity: 1; }
  45.83333% {
    opacity: 1; }
  54.16667% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px); }
  100% {
    opacity: 0; }
  95.83333% {
    opacity: 0;
    transform: scale(1.21538) translate(85px, 25px); }
  100% {
    opacity: 1;
    transform: scale(1.2) translate(80px, 20px); } }

@keyframes kenburns-two-images-2 {
  45.83333% {
    opacity: 1;
    transform: scale(1.2) translate(-80px, -20px); }
  54.16667% {
    opacity: 1; }
  95.83333% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px); } }

@keyframes kenburns-three-1 {
  0% {
    opacity: 1;
    transform: scale(1.16) translate(75px, 20px); }
  3.0303% {
    opacity: 1; }
  30.30303% {
    opacity: 1; }
  36.36364% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px); }
  100% {
    opacity: 0;
    transform: scale(1.16) translate(85px, 30px); }
  96.9697% {
    opacity: 0;
    transform: scale(1.17333) translate(80px, 25px); }
  100% {
    opacity: 1;
    transform: scale(1.16) translate(75px, 20px); } }

@keyframes kenburns-three-2 {
  30.30303% {
    opacity: 1;
    transform: scale(1.16) translate(-10px, 40px); }
  36.36364% {
    opacity: 1; }
  63.63636% {
    opacity: 1; }
  69.69697% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px); }
  100% {
    opacity: 0;
    transform: scale(1.16) translate(-10px, 40px); } }

@keyframes kenburns-three-3 {
  63.63636% {
    opacity: 1;
    transform: scale(1.16) translate(-80px, -20px); }
  69.69697% {
    opacity: 1; }
  96.9697% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px); } }

@keyframes kenburns-four-1 {
  0% {
    opacity: 1;
    transform: scale(1.16) translate(75px, 20px); }
  2.27273% {
    opacity: 1; }
  22.72727% {
    opacity: 1; }
  27.27273% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px); }
  100% {
    opacity: 0;
    transform: scale(1.16) translate(85px, 30px); }
  97.72727% {
    opacity: 0;
    transform: scale(1.17333) translate(80px, 25px); }
  100% {
    opacity: 1;
    transform: scale(1.16) translate(75px, 20px); } }

@keyframes kenburns-four-2 {
  22.72727% {
    opacity: 1;
    transform: scale(1.16) translate(-10px, 40px); }
  27.27273% {
    opacity: 1; }
  47.72727% {
    opacity: 1; }
  52.27273% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px); }
  100% {
    opacity: 0;
    transform: scale(1.16) translate(-10px, 40px); } }

@keyframes kenburns-four-3 {
  47.72727% {
    opacity: 1;
    transform: scale(1.16) translate(40px, -10px); }
  52.27273% {
    opacity: 1; }
  72.72727% {
    opacity: 1; }
  77.27273% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px); }
  100% {
    opacity: 0;
    transform: scale(1.16) translate(40px, -10px); } }

@keyframes kenburns-four-4 {
  72.72727% {
    opacity: 1;
    transform: scale(1.16) translate(-75px, -20px); }
  77.27273% {
    opacity: 1; }
  97.72727% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px); } }

@media only screen and (max-width: 2000px) {
  @keyframes kenburns-two-images-1 {
    0% {
      opacity: 1;
      transform: scale(1.2) translate(5.7vw, 1.4vh); }
    4.16667% {
      opacity: 1; }
    45.83333% {
      opacity: 1; }
    54.16667% {
      opacity: 0;
      transform: scale(1) translate(0vw, 0vh); }
    100% {
      opacity: 0; }
    95.83333% {
      opacity: 0;
      transform: scale(1.21538) translate(6vw, 1.5vh); }
    100% {
      opacity: 1;
      transform: scale(1.2) translate(5.7vw, 1.4vh); } }
  @keyframes kenburns-two-images-2 {
    45.83333% {
      opacity: 1;
      transform: scale(1.2) translate(-5.7vw, -2.8vh); }
    54.16667% {
      opacity: 1; }
    95.83333% {
      opacity: 1; }
    100% {
      opacity: 0;
      transform: scale(1) translate(0vw, 0vh); } }
  @keyframes kenburns-three-1 {
    0% {
      opacity: 1;
      transform: scale(1.16) translate(4vw, 1.05vh); }
    3.0303% {
      opacity: 1; }
    30.30303% {
      opacity: 1; }
    36.36364% {
      opacity: 0;
      transform: scale(1) translate(0vw, 0vh); }
    100% {
      opacity: 0;
      transform: scale(1.16) translate(4.5vw, 1.2vh); }
    96.9697% {
      opacity: 0;
      transform: scale(1.17333) translate(4.275vw, 1.125vh); }
    100% {
      opacity: 1;
      transform: scale(1.16) translate(4vw, 1.05vh); } }
  @keyframes kenburns-three-2 {
    30.30303% {
      opacity: 1;
      transform: scale(1.16) translate(2.1375vw, -0.525vh); }
    36.36364% {
      opacity: 1; }
    63.63636% {
      opacity: 1; }
    69.69697% {
      opacity: 0;
      transform: scale(1) translate(0vw, 0vh); }
    100% {
      opacity: 0;
      transform: scale(1.16) translate(2.1375vw, -0.525vh); } }
  @keyframes kenburns-three-3 {
    63.63636% {
      opacity: 1;
      transform: scale(1.16) translate(-4vw, -1.05vh); }
    69.69697% {
      opacity: 1; }
    96.9697% {
      opacity: 1; }
    100% {
      opacity: 0;
      transform: scale(1) translate(0vw, 0vh); } }
  @keyframes kenburns-four-1 {
    0% {
      opacity: 1;
      transform: scale(1.16) translate(4vw, 1.05vh); }
    2.27273% {
      opacity: 1; }
    22.72727% {
      opacity: 1; }
    27.27273% {
      opacity: 0;
      transform: scale(1) translate(0vw, 0vh); }
    100% {
      opacity: 0;
      transform: scale(1.16) translate(4.5vw, 1.2vh); }
    97.72727% {
      opacity: 0;
      transform: scale(1.17333) translate(4.275vw, 1.125vh); }
    100% {
      opacity: 1;
      transform: scale(1.16) translate(4vw, 1.05vh); } }
  @keyframes kenburns-four-2 {
    22.72727% {
      opacity: 1;
      transform: scale(1.16) translate(-0.52vw, 2.1375vh); }
    27.27273% {
      opacity: 1; }
    47.72727% {
      opacity: 1; }
    52.27273% {
      opacity: 0;
      transform: scale(1) translate(0vw, 0vh); }
    100% {
      opacity: 0;
      transform: scale(1.16) translate(-0.52vw, 2.1375vh); } }
  @keyframes kenburns-four-3 {
    47.72727% {
      opacity: 1;
      transform: scale(1.16) translate(2.1375vw, -0.52vh); }
    52.27273% {
      opacity: 1; }
    72.72727% {
      opacity: 1; }
    77.27273% {
      opacity: 0;
      transform: scale(1) translate(0vw, 0vh); }
    100% {
      opacity: 0;
      transform: scale(1.16) translate(2.1375vw, -0.52vh); } }
  @keyframes kenburns-four-4 {
    72.72727% {
      opacity: 1;
      transform: scale(1.16) translate(-4vw, -1.05vh); }
    77.27273% {
      opacity: 1; }
    97.72727% {
      opacity: 1; }
    100% {
      opacity: 0;
      transform: scale(1) translate(0vw, 0vh); } } }

@media only screen and (max-width: 720px) {
  .header-img-wrapper {
    position: relative; }
    .header-img-wrapper:before {
      display: block;
      content: " ";
      width: 100%;
      padding-top: 75%; }
    .header-img-wrapper > .header-image-ratio {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; } }

.home-restaurant-list {
  padding-top: 95px; }

.home-restaurant-list .icon-small {
  margin-top: 14px; }

.restaurants {
  position: relative; }
  .restaurants:before {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    width: 1px;
    height: 100%;
    margin: 0 auto;
    background: #5f504b; }
  .restaurants:after {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: #2c2a28;
    z-index: 20; }

.restaurants-wrapper:after {
  content: " ";
  display: block;
  clear: both; }

.restaurant {
  position: relative;
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 50px 0px; }
  .restaurant:nth-child(odd):not(.restaurant-watermark):after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 1px;
    height: 100%;
    background: #453d3a; }
  .restaurants-wrapper.odd:not(.watermark) .restaurant:not(:last-child):before,
  .restaurants-wrapper.watermark:not(.odd) .restaurant:not(.restaurant-watermark):not(:nth-last-child(2)):not(:nth-last-child(3)):before,
  .restaurants-wrapper.odd.watermark .restaurant:not(:last-child):not(:nth-last-child(2)):before,
  .restaurants-wrapper:not(.odd):not(.watermark) .restaurant:not(:last-child):not(:nth-last-child(2)):before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: #453d3a; }

.restaurants-wrapper.even.watermark .restaurant-watermark {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

.restaurant-name {
  margin-bottom: 8px;
  color: #fbf6e5;
  transition: all 0.2s ease; }
  .restaurant-name:link {
    text-decoration: none; }
  .restaurant-name:hover {
    letter-spacing: 3px; }

.restaurant-subheader {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #867a76; }

.restaurant-links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 12px; }

.restaurant-links a {
  transition: all 0.2s ease; }

.restaurant-links a:hover,
.restaurant-links a:focus {
  letter-spacing: 2px;
  text-decoration: none; }

.restaurant-line {
  color: #867a76;
  padding-left: 10px;
  padding-right: 10px; }

.restaurant-city {
  color: #867a76;
  margin-bottom: 5px; }

/**
 * Family section
 */
.home-family {
  margin-top: 45px; }

.home-family .button-careers {
  margin-top: 25px; }

h4.button-careers {
  font-size: 1.75vw; }

.white-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: solid 2px;
  width: 300px;
  padding: 1.5% 1%;
  transition: all 0.2s ease;
  cursor: pointer;
  color: #fbf6e5;
  text-decoration: none; }
  .white-button:visited {
    color: #fbf6e5; }
  .white-button:hover {
    letter-spacing: 3px; }

/**
 * Social networks section
 */
.social {
  padding-top: 100px;
  padding-bottom: 100px; }

.social h3 {
  color: #fbf6e5;
  margin-bottom: 14px; }

.instagram-feed:after {
  content: " ";
  display: block;
  clear: both; }

.instagram-item {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  /* = width for a 1:1 aspect ratio */
  margin: 1.66%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.social-networks {
  margin-bottom: 48px;
  text-align: center; }
  .social-networks:after {
    content: " ";
    display: block;
    clear: both; }

.social-networks-list {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none; }
  .social-networks-list:after {
    content: " ";
    display: block;
    clear: both; }

.social-network {
  float: left; }

.social-network,
.social-network a {
  font-size: 0.875rem;
  line-height: 1.5rem; }

.social-network:not(:last-child) {
  position: relative;
  padding-right: 40px; }
  .social-network:not(:last-child):before {
    position: absolute;
    content: '';
    top: 0;
    right: 20px;
    width: 1px;
    height: 100%;
    background: #867a76; }

.social-link {
  text-decoration: none;
  transition: all 0.2s ease; }
  .social-link:hover, .social-link:focus {
    letter-spacing: 2px; }

@media only screen and (max-width: 1015px) {
  .restaurant {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
    .restaurants-wrapper.watermark:not(.odd) .restaurant:not(.restaurant-watermark):not(:nth-last-child(2)):before,
    .restaurants-wrapper.odd.watermark .restaurant:not(:last-child):not(:nth-last-child(2)):before,
    .restaurants-wrapper:not(.odd):not(.watermark) .restaurant:not(:last-child):before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      width: 100%;
      height: 1px;
      margin: 0 auto;
      background: #453d3a; }
  .restaurant:nth-child(odd):after {
    display: none; }
  h4.button-careers {
    font-size: 2.5vw; }
  .white-button {
    padding: 2%; } }

@media only screen and (max-width: 720px) {
  .instagram-item {
    width: 46%;
    float: left;
    margin: 2%;
    padding-bottom: 46%;
    /* = width for a 1:1 aspect ratio */ } }

@media only screen and (max-width: 600px) {
  .home-restaurant-list {
    padding-top: 75px; }
  .home-restaurant-list .icon-small {
    width: 18px;
    margin-top: 9px; }
  .restaurant {
    padding-top: 35px;
    padding-bottom: 35px; }
  .restaurant-name {
    font-size: 1.125rem;
    margin: 0; }
  .restaurant-subheader {
    font-size: 0.625rem;
    line-height: 1.125rem;
    padding: 6px 0; }
  .restaurant-links {
    margin-top: 0; }
  .restaurant.restaurant-watermark {
    padding-top: 20px;
    padding-bottom: 10px; }
  .restaurant-city {
    margin-bottom: 8px; }
  h4.button-careers {
    font-size: 3vw; }
  .white-button {
    width: 225px;
    padding: 3% 4% 3% 4%; }
  .social {
    padding-top: 75px;
    padding-bottom: 75px; }
  .social h3 {
    font-size: 1.125rem;
    line-height: 2.1875rem;
    margin-bottom: 4px; }
  .social-network,
  .social-network a {
    font-size: 0.625rem;
    line-height: 1.375rem; }
  .social-networks {
    margin-bottom: 38px; } }

/**
 * Restaurant single page
 */
.contact-hours {
  color: #fbf6e5; }
  .contact-hours:after {
    content: " ";
    display: block;
    clear: both; }

.contact-hours h3 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 1.125rem; }

.contact-info,
.working-hours {
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  min-height: 410px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  @media only screen and (max-width: 600px) {
    .contact-info,
    .working-hours {
      width: 100%;
      min-height: 280px; } }

.restaurant-address {
  color: #867a76;
  width: 200px;
  margin-top: 20px;
  font-style: normal;
  margin: 0 auto; }

.restaurant-address,
.restaurant-tel,
.restaurant-mail {
  font-size: 1.125rem;
  line-height: 1.625rem; }

.restaurant-tel,
.restaurant-mail a {
  color: #a1624c;
  text-decoration: none;
  transition: all 0.2s ease; }
  .restaurant-tel:hover,
  .restaurant-mail a:hover {
    letter-spacing: .5px; }

.button-book-table {
  margin-top: 30px; }

.working-hours {
  background-position: center;
  position: relative; }

.working-hours:after {
  background: #a1624c;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .75; }

.working-hours-text {
  z-index: 1; }

.working-hours-days {
  position: relative;
  margin: 0;
  padding: 15px 0 0;
  font-family: 'avianbold';
  font-size: 0.875rem;
  line-height: 1.75rem;
  letter-spacing: 0.09375rem; }
  .working-hours-days:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    margin: 0 auto;
    margin-top: 6px;
    width: 15px;
    height: 2px;
    background: #fbf6e5; }

.restaurant-menu {
  padding: 90px 56px 95px;
  background: #fbf6e5; }

.restaurant-menu h2 {
  margin: 0 0 15px; }

.menu-heading {
  color: #5f504b;
  padding-bottom: 42px; }

.meal-category {
  padding: 40px 0 34px; }

.meal-category-title {
  color: #5f504b;
  margin: 0px;
  padding-bottom: 10px; }

.meal-category-content {
  position: relative; }
  .meal-category-content:after {
    content: " ";
    display: block;
    clear: both; }
  .meal-category-content:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    width: 2px;
    height: 100%;
    margin: 0 auto;
    background: #dad4c2; }

.meal-single, .shared-meal-single {
  text-align: left;
  margin-bottom: 35px;
  box-sizing: border-box;
  width: 50%;
  float: left; }
  @media only screen and (max-width: 720px) {
    .meal-single, .shared-meal-single {
      width: 98.33333%;
      float: left;
      margin-left: 0.83333%;
      margin-right: 0.83333%; } }
  .meal-single:nth-child(odd), .shared-meal-single:nth-child(odd) {
    padding-right: 28px; }
  .meal-single:nth-child(even), .shared-meal-single:nth-child(even) {
    padding-left: 28px; }
  .meal-single .meal-single-container, .shared-meal-single .meal-single-container {
    padding-right: 20%; }
  .meal-single:nth-child(2n+1), .shared-meal-single:nth-child(2n+1) {
    clear: left; }

.meal-single-container {
  position: relative; }

.meal-single-title, .meal-single-price {
  margin: 0;
  color: #5f504b; }

.meal-more {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  background: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  color: #a1624c;
  transition: color 0.2s ease; }
  .meal-more:focus {
    outline: none; }

.meal-single-allergens {
  font-family: 'Georgia';
  color: #a39992; }

.meal-single-price {
  position: absolute;
  top: 0;
  right: 0;
  color: #867a76; }

.restaurant-single-watermark {
  padding-top: 50px;
  text-align: center; }

.watermark-image {
  width: 100%;
  height: auto;
  max-width: 200px; }

.shared-meal-category-content:before {
  display: none; }

.shared-meal-category-content-inner {
  padding-bottom: 30px; }

.shared-meals-description {
  font-family: Georgia;
  font-size: 1.125rem;
  line-height: 1.625rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-style: italic; }

.shared-menu-description {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-style: italic;
  width: 80%;
  margin: 0 auto;
  color: #867a76;
  margin-bottom: 50px;
  margin-top: -35px; }

.shared-meal-category-title {
  font-family: 'avianbold';
  font-size: 1.125rem;
  line-height: 1.3rem;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  color: #a39992;
  margin: 0px;
  text-align: center; }

.shared-meal-category-description {
  font-family: Georgia;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #a39992; }

.shared-meal-single {
  float: none;
  text-align: center;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 0px; }

.shared-meal-single-inner {
  padding-bottom: 35px; }

.shared-meal-single:nth-child(even) {
  padding-left: 0; }

.shared-meal-single:nth-child(odd) {
  padding-right: 0; }

.shared-menues-section {
  margin-top: 100px; }

.meal-category-title {
  display: inline-block; }

hr.grey-hr-shared-meals {
  background: #a39992; }

.vAccordion--default v-pane-header {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important; }

.vAccordion--default v-pane-header::after,
.vAccordion--default v-pane-header::before {
  display: none !important; }

.vAccordion--default v-pane-header:hover,
.vAccordion--default v-pane-header:focus {
  color: initial !important; }

.vAccordion--default v-pane-content > div {
  padding: 40px 0 !important; }

.restaurant-streetview iframe,
.restaurant-streetview object,
.restaurant-streetview embed {
  left: 0;
  width: 100%;
  height: 500px;
  padding: 0; }

.about-restaurants {
  padding-top: 95px; }

.about-intro-title {
  margin-bottom: 10px;
  color: #fbf6e5; }

.about-intro-text {
  color: #a39992; }

.about-intro-text p {
  margin-top: 10px; }

.content-sections .content-section-single-text + .content-section-single-text {
  margin-top: 68px; }

.content-section-single:last-child .content-image-block {
  margin-bottom: 0; }

.content-sections .content-text-block .icon-small-20 {
  margin-top: 20px; }

.content-sections .content-image-block.narrow-width, .content-sections .content-image-block.about-intro, .content-sections .content-image-block.content-text-block {
  max-width: 415px; }

.content-sections .content-image-block {
  margin: 90px auto; }

.content-sections .content-title {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 20px;
  color: #fbf6e5; }
  .content-sections .content-title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: '';
    width: 16px;
    height: 1px;
    background: #5f504b; }

.content-sections .content-text p {
  margin-top: 16px;
  text-align: center; }

.about-contact-info {
  padding-top: 90px; }

.about-contact-info a:not(.restaurant-tel) {
  color: #a1624c;
  text-decoration: none;
  transition: all 0.2s ease; }
  .about-contact-info a:not(.restaurant-tel):hover, .about-contact-info a:not(.restaurant-tel):focus {
    outline: none;
    letter-spacing: .5px; }

.about-contact-main {
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 0 auto; }

.about-contact-title {
  color: #fbf6e5;
  margin-bottom: 10px; }

.contact-main address {
  margin-top: 15px;
  margin-bottom: 25px; }

.contact-main .contact-phone {
  margin-bottom: 5px; }

.restaurant-staff:after {
  content: " ";
  display: block;
  clear: both; }

.restaurant-staff-single {
  margin-top: 80px;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%; }
  @media only screen and (max-width: 720px) {
    .restaurant-staff-single {
      box-sizing: border-box;
      width: 100%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%; } }

.restaurant-staff-single {
  color: #a39992; }

.restaurant-staff-single .content-title {
  color: #fbf6e5;
  margin-bottom: 32px; }

.restaurant-staff-single .member-name {
  margin-bottom: 5px; }

.gm-style-mtc {
  display: none; }

.restaurant-map {
  margin-top: 90px; }

.restaurant-map .angular-google-map-container {
  height: 600px; }

.book-table {
  margin-top: 55px; }

@media only screen and (max-width: 900px) {
  .contact-info,
  .working-hours {
    width: 100%; } }

@media only screen and (max-width: 720px) {
  .meal-category-content:before {
    display: none; }
  .meal-single:nth-child(even), .shared-meal-single:nth-child(even) {
    padding-left: 0; }
  .meal-single:nth-child(odd), .shared-meal-single:nth-child(odd) {
    padding-right: 0; } }

@media only screen and (max-width: 600px) {
  .watermark-image {
    max-width: 145px; }
  .restaurant-address {
    width: 150px; }
  .contact-hours h3,
  .restaurant-address, .restaurant-tel, .restaurant-mail {
    font-size: 0.875rem;
    line-height: 1.25rem; }
  .restaurant-menu {
    padding: 70px 20px 72px; }
  .restaurant-address {
    margin-top: 14px; }
  .button-book-table {
    font-size: 0.625rem;
    line-height: 1.625rem; }
  .restaurant-menu h2 {
    margin: 0 0 5px; }
  .menu-heading {
    padding-bottom: 20px; }
  .meal-category-title {
    font-size: 1.125rem;
    line-height: 2.1875rem;
    padding-bottom: 0px; }
  .meal-single, .shared-meal-single {
    margin-bottom: 20px; }
  .meal-category {
    padding: 30px 0 24px; }
  .shared-meal-category-content-inner {
    padding-bottom: 0px; }
  .shared-meal-category-title {
    font-size: 0.9rem;
    line-height: 1.35rem; }
  .shared-meal-category-description {
    font-size: 0.9rem;
    line-height: 1.35rem; }
  .shared-meals-description {
    font-size: 1rem;
    line-height: 1.5rem;
    width: 90%;
    margin-bottom: 0px; }
  .shared-menu-description {
    font-size: 1rem;
    line-height: 1.5rem; }
  .vAccordion--default v-pane-content > div {
    padding: 26px 0; }
  .restaurant-streetview iframe,
  .restaurant-streetview object,
  .restaurant-streetview embed {
    height: 300px; }
  .about-restaurants {
    padding: 48px 20px 0; }
  .about-intro-text p {
    margin-top: 40px;
    font-size: 1rem;
    line-height: 1.5625rem; }
  .content-sections .content-image-block {
    margin: 70px auto; }
  .content-sections .content-title {
    font-size: 0.875rem;
    padding-bottom: 8px; }
  .content-sections .content-text p {
    margin-top: 6px; }
  .image-wrapper img {
    max-width: 100%; }
  .about-contact-info {
    padding-top: 65px; }
  .about-contact-title {
    margin-bottom: 0; }
  .contact-main address {
    margin-top: 5px;
    margin-bottom: 20px; }
  .content-title {
    font-size: 0.875rem;
    line-height: 1.25rem; }
  .restaurant-staff-single {
    margin-top: 70px; }
  .restaurant-staff-single .content-title {
    margin-bottom: 22px; }
  .restaurant-map {
    margin-top: 75px; }
  .restaurant-map .angular-google-map-container {
    height: 340px; } }

.book-table-title {
  color: #fbf6e5; }

.booking-wrapper {
  padding-bottom: 60px; }

@media only screen and (max-width: 600px) {
  .book-table-wrapper .text-padding {
    padding-top: 45px;
    padding-bottom: 35px; }
  .book-table-title {
    font-size: 1.125rem;
    line-height: 1.5rem; } }

.about-restaurant-list {
  padding-top: 95px; }

.about-restaurant-list .icon-small {
  margin-top: 14px; }

.about-watermark {
  margin-top: 10px; }

.restaurant.restaurant-watermark {
  padding-bottom: 0; }

.about-cookie-info {
  padding-top: 50px;
  font-size: 0.875rem;
  line-height: 1.8125rem;
  max-width: 1080px;
  margin: 0 auto; }

.about-cookie-info h4 {
  color: #867a76; }

.about-cookie-info p:not(:last-child) {
  margin-bottom: 10px; }

@media only screen and (max-width: 600px) {
  .about-gift-card h3,
  .about-events h3 {
    font-size: 0.875rem;
    line-height: 1.5rem; }
  .about-restaurant-list {
    padding-top: 70px; }
  .about-restaurant-list h3 {
    font-size: 0.875rem;
    line-height: 1.5625rem; }
  .about-restaurant-list .icon-small {
    width: 18px;
    margin-top: 4px; }
  .about-cookie-info {
    padding-top: 45px;
    padding-bottom: 55px; }
  .about-cookie-info h4 {
    font-size: 0.625rem;
    line-height: 1rem; }
  .about-cookie-info p {
    font-size: 0.75rem;
    line-height: 1.0625rem; } }

.joblist {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 0px; }

.job-single,
.joblist-heading {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0; }

.joblist-cell {
  box-sizing: border-box;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  list-style: none; }

.joblist-heading {
  color: #a1624c; }

.job-single:hover {
  cursor: pointer; }

.joblist-cell-header {
  border-bottom: 2px solid #a1624c;
  padding-bottom: 10px; }

.joblist-row {
  border-bottom: 2px solid #5f504b;
  padding-top: 30px;
  padding-bottom: 30px; }

.joblist-row:last-child {
  border-bottom: none; }

.job-title {
  width: 58.333%; }

.job-title:hover {
  transition: all 0.2s ease;
  text-decoration: none;
  letter-spacing: .3px; }

.job-location {
  width: 25%; }

.job-date {
  width: 16.666%; }

.job-extra-details {
  text-align: left;
  padding-top: 25px; }

.job-details {
  display: block;
  margin: 0 auto; }

.job-info {
  text-align: left;
  margin-top: 30px; }

.job-info p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

.job-info ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px; }

.job-image {
  margin-bottom: 50px;
  max-width: 650px; }

.job-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.joblist-button {
  cursor: pointer;
  font-family: 'avianbold';
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.09375rem;
  border: none;
  background: none;
  color: #a1624c;
  margin-top: 25px;
  transition: all 0.2s ease; }
  .joblist-button:hover {
    letter-spacing: 2px; }

.joblist-button-top {
  padding: 20px 0; }

.joblist-heading-mobile {
  display: none; }

.reachmee {
  display: block;
  width: 50%; }

.intro-section-title {
  margin-bottom: 40px;
  font-size: 1.375rem;
  line-height: 2.25rem; }

.vacanies-container {
  padding-bottom: 95px; }

.vacancies-title {
  margin-top: 40px; }

.vacancies {
  position: relative;
  margin-top: 40px; }
  .vacancies:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    width: 1px;
    height: 100%;
    margin: 0 auto;
    background: #DFD9C9; }
  .vacancies:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: #fbf6e5;
    z-index: 20; }

.vacancies-wrapper:after {
  content: " ";
  display: block;
  clear: both; }

.vacancy {
  position: relative;
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 45px 0px; }
  .vacancy:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: #DFD9C9; }

.vacancy-name {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 3px;
  max-width: 70%; }

.vacancy-restaurants-closing-date {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  color: #867a76; }

.vacancy-line {
  color: #867a76;
  padding-left: 10px;
  padding-right: 10px; }

.vacancy-links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 8px; }

.vacancy-links a {
  transition: all 0.2s ease; }
  .vacancy-links a:hover {
    letter-spacing: 2px;
    text-decoration: none; }

.vacancies-team {
  padding-top: 90px;
  padding-bottom: 100px; }

.vacancies-team .icon-small-20 {
  margin-top: 8px; }

.team-images {
  margin-top: 35px;
  margin-bottom: 30px; }

.team-title {
  color: #fbf6e5; }

.vacancies-handwriting {
  color: #867a76; }

.vacancies-video {
  max-width: 980px;
  margin: 60px auto 0; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media only screen and (max-width: 1000px) {
  .vacancy {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .vacancies:before {
    display: none; } }

@media only screen and (max-width: 720px) {
  .joblist-heading {
    display: none; }
  .job-single {
    text-align: center;
    border-bottom: 2px solid #5f504b;
    padding: 25px 0px 0px 0px; }
  .joblist-row {
    padding-top: 25px;
    padding-bottom: 15px; }
  .job-title {
    width: 100%; }
  .job-location {
    width: 100%; }
  .job-date {
    visibility: hidden; }
  .joblist-heading-mobile {
    display: block;
    margin-bottom: 20px; }
  .joblist-button {
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 0.075rem; }
  .vacancies-title {
    margin-top: 10px; }
  .vacancy-name {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-top: 0; }
  .vacancy {
    padding: 35px 0; }
  .vacancies {
    margin-top: 10px; }
  .vacanies-container {
    padding-bottom: 35px; }
  .vacancies-team {
    padding-top: 70px;
    padding-bottom: 80px; }
  .vacancies-team .icon-small-20 {
    margin-top: 3px; }
  .team-images {
    margin-top: 25px;
    margin-bottom: 20px; }
  .vacancies-handwriting {
    padding-top: 40px;
    padding-bottom: 15px; } }

.content-sections-english {
  color: #5f504b; }

.content-sections-english a {
  color: #a1624c; }

/*!
 * ui-select
 * http://github.com/angular-ui/ui-select
 * Version: 0.19.8 - 2017-04-18T05:43:43.881Z
 * License: MIT
 */
/* Style when highlighting a search. */
.ui-select-highlight {
  font-weight: bold; }

.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important; }

.ui-select-choices-row:hover {
  background-color: #f5f5f5; }

/* Select2 theme */
/* Mark invalid Select2 */
.ng-dirty.ng-invalid > a.select2-choice {
  border-color: #D44950; }

.select2-result-single {
  padding-left: 0; }

.select2-locked > .select2-search-choice-close {
  display: none; }

.select-locked > .ui-select-match-close {
  display: none; }

body > .select2-container.open {
  z-index: 9999;
  /* The z-index Select2 applies to the select2-drop */ }

/* Handle up direction Select2 */
.ui-select-container[theme="select2"].direction-up .ui-select-match,
.ui-select-container.select2.direction-up .ui-select-match {
  border-radius: 4px;
  /* FIXME hardcoded value :-/ */
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.ui-select-container[theme="select2"].direction-up .ui-select-dropdown,
.ui-select-container.select2.direction-up .ui-select-dropdown {
  border-radius: 4px;
  /* FIXME hardcoded value :-/ */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-width: 1px;
  /* FIXME hardcoded value :-/ */
  border-top-style: solid;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
  margin-top: -4px;
  /* FIXME hardcoded value :-/ */ }

.ui-select-container[theme="select2"].direction-up .ui-select-dropdown .select2-search,
.ui-select-container.select2.direction-up .ui-select-dropdown .select2-search {
  margin-top: 4px;
  /* FIXME hardcoded value :-/ */ }

.ui-select-container[theme="select2"].direction-up.select2-dropdown-open .ui-select-match,
.ui-select-container.select2.direction-up.select2-dropdown-open .ui-select-match {
  border-bottom-color: #5897fb; }

.ui-select-container[theme="select2"] .ui-select-dropdown .ui-select-search-hidden,
.ui-select-container[theme="select2"] .ui-select-dropdown .ui-select-search-hidden input {
  opacity: 0;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: 0; }

/* Selectize theme */
/* Helper class to show styles when focus */
.selectize-input.selectize-focus {
  border-color: #007FBB !important; }

/* Fix input width for Selectize theme */
.selectize-control.single > .selectize-input > input {
  width: 100%; }

/* Fix line break when there's at least one item selected with the Selectize theme */
.selectize-control.multi > .selectize-input > input {
  margin: 0 !important; }

/* Fix dropdown width for Selectize theme */
.selectize-control > .selectize-dropdown {
  width: 100%; }

/* Mark invalid Selectize */
.ng-dirty.ng-invalid > div.selectize-input {
  border-color: #D44950; }

/* Handle up direction Selectize */
.ui-select-container[theme="selectize"].direction-up .ui-select-dropdown {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
  margin-top: -2px;
  /* FIXME hardcoded value :-/ */ }

.ui-select-container[theme="selectize"] input.ui-select-search-hidden {
  opacity: 0;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: 0; }

/* Bootstrap theme */
/* Helper class to show styles when focus */
.btn-default-focus {
  color: #333;
  background-color: #EBEBEB;
  border-color: #ADADAD;
  text-decoration: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.ui-select-bootstrap .ui-select-toggle {
  position: relative; }

.ui-select-bootstrap .ui-select-toggle > .caret {
  position: absolute;
  height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -2px; }

/* Fix Bootstrap dropdown position when inside a input-group */
.input-group > .ui-select-bootstrap.dropdown {
  /* Instead of relative */
  position: static; }

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
  border-radius: 4px;
  /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control.direction-up {
  border-radius: 4px !important;
  /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.ui-select-bootstrap .ui-select-search-hidden {
  opacity: 0;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: 0; }

.ui-select-bootstrap > .ui-select-match > .btn {
  /* Instead of center because of .btn */
  text-align: left !important; }

.ui-select-bootstrap > .ui-select-match > .caret {
  position: absolute;
  top: 45%;
  right: 15px; }

/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  margin-top: -1px; }

body > .ui-select-bootstrap.open {
  z-index: 1000;
  /* Standard Bootstrap dropdown z-index */ }

.ui-select-multiple.ui-select-bootstrap {
  height: auto;
  padding: 3px 3px 0 3px; }

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  background-color: transparent !important;
  /* To prevent double background when disabled */
  border: none;
  outline: none;
  height: 1.666666em;
  margin-bottom: 3px; }

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 1.6em;
  line-height: 0.75; }

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  outline: 0;
  margin: 0 3px 3px 0; }

.ui-select-multiple .ui-select-match-item {
  position: relative; }

.ui-select-multiple .ui-select-match-item.dropping .ui-select-match-close {
  pointer-events: none; }

.ui-select-multiple:hover .ui-select-match-item.dropping-before:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  margin-right: 2px;
  border-left: 1px solid #428bca; }

.ui-select-multiple:hover .ui-select-match-item.dropping-after:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  margin-left: 2px;
  border-right: 1px solid #428bca; }

.ui-select-bootstrap .ui-select-choices-row > span {
  cursor: pointer;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap; }

.ui-select-bootstrap .ui-select-choices-row > span:hover, .ui-select-bootstrap .ui-select-choices-row > span:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5; }

.ui-select-bootstrap .ui-select-choices-row.active > span {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca; }

.ui-select-bootstrap .ui-select-choices-row.disabled > span,
.ui-select-bootstrap .ui-select-choices-row.active.disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff; }

/* fix hide/show angular animation */
.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
  display: none !important; }

/* Mark invalid Bootstrap */
.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
  border-color: #D44950; }

/* Handle up direction Bootstrap */
.ui-select-container[theme="bootstrap"].direction-up .ui-select-dropdown {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25); }

.ui-select-bootstrap .ui-select-match-text {
  width: 100%;
  padding-right: 1em; }

.ui-select-bootstrap .ui-select-match-text span {
  display: inline-block;
  width: 100%;
  overflow: hidden; }

.ui-select-bootstrap .ui-select-toggle > a.btn {
  position: absolute;
  height: 10px;
  right: 10px;
  margin-top: -2px; }

/* Spinner */
.ui-select-refreshing.glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 27px; }

@keyframes ui-select-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

.ui-select-spin {
  animation: ui-select-spin 2s infinite linear; }

.ui-select-refreshing.ng-animate {
  -webkit-animation: none 0s; }

/**
 * selectize.default.css (v0.8.5) - Default Theme
 * Copyright (c) 2013 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */
.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  visibility: visible !important;
  box-shadow: inset 0 0 12px 4px #ffffff; }

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden; }

.selectize-control.plugin-drag_drop .ui-sortable-helper {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  background: #f8f8f8;
  border-bottom: 1px solid #d0d0d0;
  border-radius: 3px 3px 0 0; }

.selectize-dropdown-header-close {
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -12px;
  font-size: 20px !important;
  line-height: 20px;
  color: #303030;
  opacity: 0.4; }

.selectize-dropdown-header-close:hover {
  color: #000000;
  letter-spacing: 2px; }

.selectize-dropdown.plugin-optgroup_columns .optgroup {
  float: left;
  border-top: 0 none;
  border-right: 1px solid #f2f2f2;
  box-sizing: border-box; }

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none; }

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none; }

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none; }

.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important; }

.selectize-control.plugin-remove_button [data-value] .remove {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 17px;
  padding: 2px 0 0 0;
  font-size: 12px;
  font-weight: bold;
  color: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-left: 1px solid #a39992;
  border-radius: 0 2px 2px 0;
  box-sizing: border-box; }

.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05); }

.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #a39992; }

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none; }

.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #aaaaaa; }

.selectize-control {
  position: relative;
  text-align: left; }

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  -webkit-font-smoothing: inherit; }

.selectize-input,
.selectize-control.single .selectize-input.input-active {
  display: inline-block;
  cursor: text; }

.selectize-input {
  position: relative;
  height: 20px;
  z-index: 1;
  width: 100%;
  max-width: 210px;
  padding: 0 0 2px 0;
  overflow: hidden;
  border-bottom: 1px solid #867a76;
  transition: color 0.2s ease; }

.selectize-input.selectize-focus {
  border-color: #a39992 !important; }

.selectize-control.multi .selectize-input.has-items {
  padding: 5px 8px 2px; }

.selectize-input.full {
  background-color: #ffffff; }

.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important; }

.selectize-input.focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15); }

.selectize-input.dropdown-active {
  border-radius: 3px 3px 0 0; }

/* .selectize-input > * {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
} */
.selectize-control.single .ui-select-match {
  position: absolute;
  top: 0;
  left: 0; }

.selectize-control.single .ui-select-match span {
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.selectize-control.multi .selectize-input > div {
  padding: 2px 6px;
  margin: 0 3px 3px 0;
  color: #ffffff;
  cursor: pointer;
  background: #1da7ee;
  border: 1px solid #0073bb; }

.selectize-control.multi .selectize-input > div.active {
  color: #ffffff;
  background: #92c836;
  border: 1px solid #00578d; }

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #ffffff;
  background: #d2d2d2;
  border: 1px solid #aaaaaa; }

.selectize-input > input {
  max-width: 100% !important;
  max-height: none !important;
  min-height: 0 !important;
  padding: 0 !important;
  margin: 0 1px !important;
  line-height: inherit !important;
  text-indent: 0 !important;
  background: none !important;
  border: 0 none !important;
  box-shadow: none !important;
  -webkit-user-select: auto !important; }

.selectize-input > input:focus {
  outline: none !important; }

.selectize-input::after {
  display: block;
  clear: left;
  content: ' '; }

.selectize-input.dropdown-active::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 1px;
  background: #f0f0f0;
  content: ' '; }

.selectize-dropdown {
  position: absolute;
  z-index: 10;
  margin: -1px 0 0 0;
  background: #242422; }

.selectize-dropdown [data-selectable] {
  overflow: hidden;
  cursor: pointer; }

.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  border-radius: 1px; }

.selectize-dropdown [data-selectable] a {
  display: block;
  padding: 22px 0px; }

.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none; }

.selectize-dropdown .optgroup-header {
  color: #303030;
  cursor: default;
  background: #ffffff; }

.selectize-dropdown .active.create {
  color: #495c68; }

.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5); }

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer; }

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text; }

.selectize-control.single .selectize-input:after {
  position: absolute;
  top: 2px;
  right: 0;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../img/icons/icon-down.svg") no-repeat center;
  content: ' ';
  transition: transform 0.2s ease; }

.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-color: transparent transparent #808080 transparent;
  border-width: 0 5px 5px 5px; }

.selectize-control.rtl.single .selectize-input:after {
  right: auto;
  left: 15px; }

.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important; }

.selectize-control .selectize-input.disabled {
  background-color: #fafafa;
  opacity: 0.5; }

.selectize-control.multi .selectize-input.has-items {
  padding-right: 5px;
  padding-left: 5px; }

.selectize-control.multi .selectize-input.disabled [data-value] {
  color: #999;
  text-shadow: none;
  background: none;
  box-shadow: none; }

.selectize-control.multi .selectize-input.disabled [data-value],
.selectize-control.multi .selectize-input.disabled [data-value] .remove {
  border-color: #e6e6e6; }

.selectize-control.multi .selectize-input.disabled [data-value] .remove {
  background: none; }

.selectize-dropdown .optgroup-header {
  padding-top: 7px;
  font-size: 0.85em;
  font-weight: bold; }

.selectize-dropdown .optgroup {
  border-top: 1px solid #f0f0f0; }

.selectize-dropdown .optgroup:first-child {
  border-top: 0 none; }

.ui-select-choices-row:not(:last-child) {
  border-bottom: 1px solid #393330; }

.ui-select-choices-row:hover {
  color: #a39992;
  background: none; }

.selectize-control.open .selectize-input {
  color: #a39992;
  border-color: transparent; }

.selectize-control.open.single .selectize-input:after {
  transform: rotate(180deg); }

.selectize-control > .selectize-dropdown {
  padding: 22px 50px 22px 0;
  max-width: 260px;
  z-index: 1100;
  transition: all 0.2s ease; }

/**
 * vAccordion - AngularJS multi-level accordion component
 * @version v1.6.0
 * @link http://lukaszwatroba.github.io/v-accordion
 * @author Łukasz Wątroba <l@lukaszwatroba.com>
 * @license MIT License, http://www.opensource.org/licenses/MIT
 */
/***************************************
  vAccordion
 ***************************************/
/**
 * Example HTML:
 *
  <v-accordion class="vAccordion--default">
    <v-pane>
      <v-pane-header id="pane-header" aria-controls="pane-content">
         [content]
      </v-pane-header>
      <v-pane-content id="pane-content" aria-labelledby="pane-header">
        [content]
      </v-pane-content>
    </v-pane>
  </v-accordion>
 */
/* Base styles
 ***************************************/
v-accordion {
  display: block; }

v-pane {
  display: block; }

v-pane.is-expanded > v-pane-content > div {
  display: visible; }

v-pane[disabled] > v-pane-header {
  opacity: 0.6;
  pointer-events: none; }

v-pane-header {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none; }

v-pane-header:focus {
  outline: none; }

v-pane-header > div {
  display: block; }

v-pane-content {
  display: block;
  position: relative;
  overflow: hidden;
  max-height: 0px; }

v-pane-content > div {
  visibility: none; }

/* Theme: default
   ***************************************/
.vAccordion--default v-accordion {
  margin-top: 20px;
  padding-left: 20px; }

.vAccordion--default v-pane-content > div {
  padding-bottom: 20px;
  opacity: 0;
  transform: translate3d(0, 30px, 0);
  transition: all 0.5s; }

.vAccordion--default v-pane {
  overflow: hidden; }

.vAccordion--default v-pane.is-expanded > v-pane-header {
  border-bottom-color: #2196F3; }

.vAccordion--default v-pane.is-expanded > v-pane-header::after {
  transform: rotate(90deg);
  opacity: 0; }

.vAccordion--default v-pane.is-expanded > v-pane-header::before {
  transform: rotate(0deg); }

.vAccordion--default v-pane.is-expanded > v-pane-content > div {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.vAccordion--default v-pane[disabled] v-pane-header::after, .vAccordion--default v-pane[disabled] v-pane-header::before {
  display: none; }

.vAccordion--default v-pane-header {
  padding: 5px 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #D8D8D8;
  transition: all 0.25s; }

.vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 1px;
  background-color: #2196F3;
  transform-origin: 50% 50%;
  will-change: transform;
  transition: all 0.25s; }

.vAccordion--default v-pane-header::before {
  transform: rotate(-90deg); }

.vAccordion--default v-pane-header:hover, .vAccordion--default v-pane-header:focus {
  color: #2196F3; }
