.about-restaurant-list {
  padding-top: 95px;
}

.about-restaurant-list .icon-small {
  margin-top: 14px;
}

.about-watermark {
  margin-top: 10px;
}

.restaurant.restaurant-watermark {
  padding-bottom: 0;
}

.about-cookie-info {
  padding-top: 50px;
  font-size: rem-calc(14);
  line-height: rem-calc(29);
  max-width: 1080px;
  margin: 0 auto;
}

.about-cookie-info h4 {
  @extend .avian;
  color: $grey;
}

.about-cookie-info p:not(:last-child) {
  margin-bottom: 10px;
}

@include max-screen(600px) {
  .about-gift-card h3,
  .about-events h3 {
    font-size: rem-calc(14);
    line-height: rem-calc(24);
  }

  .about-restaurant-list {
    padding-top: 70px;
  }

  .about-restaurant-list h3 {
    font-size: rem-calc(14);
    line-height: rem-calc(25);
  }

  .about-restaurant-list .icon-small {
    width: 18px;
    margin-top: 4px;
  }

  .about-cookie-info {
    padding-top: 45px;
    padding-bottom: 55px;
  }

  .about-cookie-info h4 {
    font-size: rem-calc(10);
    line-height: rem-calc(16);
  }

  .about-cookie-info p {
    font-size: rem-calc(12);
    line-height: rem-calc(17);
  }
}
