@-webkit-keyframes pulsate {
  0%, 100% { opacity: .2; }
  50% { opacity: 1; }
}

@keyframes pulsate {
  0%, 100% { opacity: .2; }
  50% { opacity: 1; }
}

@keyframes rotate-vert-center {

  50% {
    -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);

      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
  }

  100% {
    -webkit-transform: rotateY(1deg);
    transform: rotateY(1deg);

    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

