html,
body {
  min-height: 100%;
  margin: 0;
  background: $black;
  font-size: 16px;
  font-family: Georgia;
  font-weight: normal;
}


@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
   @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// translate 3D
@mixin translate3d ($x, $y, $z) {
   @include transform(translate3d($x, $y, $z));
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}



@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before{
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .header-image-ratio {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}





@mixin vertical-center() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**
 * Strip unit from size
 * @param  {string} $number Size with unit
 * @return {int}            Size without unit
 */
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

/**
 * Px to rem mixin
 * @param  {int}    $size Font size without unit (px)
 * @return {string} Font size in rem
 */
@function rem-calc($size) {
  @return (strip-unit($size) / strip-unit($font-size-body)) + rem;
}

@mixin transition($transition, $duration) {
  -webkit-transition: $transition $duration ease;
          transition: $transition $duration ease;
}


/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null){
  -o-object-fit: $fit;
     object-fit: $fit;
  @if $position {
    -o-object-position: $position;
       object-position: $position;
    font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
    font-family: 'object-fit: #{$fit}';
  }
}


/**
 * Susy config
 */
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: split,
);
