.book-table-title {
  color: $white;
}

.booking-wrapper{
  padding-bottom: 60px;
}

@include max-screen(600px) {
  .book-table-wrapper .text-padding {
    padding-top: 45px;
    padding-bottom: 35px;
  }

  .book-table-title {
    font-size: rem-calc(18);
    line-height: rem-calc(24);
  }
}
