.joblist {
  font-size: rem-calc(18);
  line-height: rem-calc(28);
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 0px;
}

.job-single,
.joblist-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.joblist-cell {
  box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  overflow: hidden;
  list-style: none;

}

.joblist-heading {
  color: $brown;
}

.job-single:hover {
  cursor: pointer;
}

.joblist-cell-header {
  border-bottom: 2px solid $brown;
  padding-bottom: 10px;
}

.joblist-row {
  border-bottom: 2px solid $dark-brown;
  padding-top: 30px;
  padding-bottom: 30px;
}

.joblist-row:last-child {
  border-bottom: none;
}

.job-title {
  width: 58.333%
}

.job-title:hover {
  @include transition(all, 0.2s);
  text-decoration: none;
  letter-spacing: .3px;
}

.job-location {
  width: 25%;
}

.job-date {
  width: 16.666%;
}


.job-extra-details {
  text-align: left;
  padding-top: 25px;
}

.job-details {
  display: block;
  margin: 0 auto;
}

.job-info {
  text-align: left;
  margin-top: 30px;
}

.job-info p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.job-info ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.job-image {
  margin-bottom: 50px;
  max-width: 650px;
}

.job-footer{
  display: flex;
  justify-content: space-between;
}

.joblist-button {
  cursor: pointer;
  font-family: 'avianbold';
  font-size: rem-calc(18);
  line-height: rem-calc(28);
  letter-spacing: rem-calc(1.5);
  border: none;
  background: none;
  color: $brown;
  margin-top: 25px;
  @include transition(all, 0.2s);
    &:hover {
    letter-spacing: 2px;
  }
}

.joblist-button-top {
  padding: 20px 0;
}

.joblist-heading-mobile{
  display: none;
}


.reachmee {
  display: block;
  width: 50%;
}

.intro-section-title {
  margin-bottom: 40px;
  font-size: rem-calc(22);
  line-height: rem-calc(36);
}

.vacanies-container {
  padding-bottom: 95px;
}



// depricated vacancy list
.vacancies-title {
  margin-top: 40px;
}

.vacancies {
  position: relative;
  margin-top: 40px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    width: 1px;
    height: 100%;
    margin: 0 auto;
    background: $light-brown;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: $white;
    z-index: 20;
  }
}

.vacancies-wrapper {
  @include susy-clearfix;
}

.vacancy {
  position: relative;
  @include span(6)
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 45px 0px;

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: $light-brown;
  }
}

.vacancy-name {
  font-size: rem-calc(18);
  line-height: rem-calc(28);
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 3px;
  max-width: 70%;
}

.vacancy-restaurants-closing-date {
  display: flex;
  justify-content: center;
  color: $grey;
}

.vacancy-line {
  color: $grey;
  padding-left: 10px;
  padding-right: 10px;
}

.vacancy-links {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.vacancy-links a {
  @include transition(all, 0.2s);

  &:hover {
    // color: $grey;
    letter-spacing: 2px;
    text-decoration: none;
  }
}

.vacancies-team {
  padding-top: 90px;
  padding-bottom: 100px;
}

.vacancies-team .icon-small-20 {
  margin-top: 8px;
}

.team-images {
  margin-top: 35px;
  margin-bottom: 30px;
}

.team-title {
  color: $white;
}

.vacancies-handwriting {
  color: $grey;
}

.vacancies-video {
  max-width: 980px;
  margin: 60px auto 0;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@include max-screen (1000px) {
  .vacancy {
    @include span(12);
  }

  .vacancies:before {
    display: none;
  }
}

@include max-screen(720px) {


// ReachMee joblist



.joblist-heading {
  display: none;
}

.job-single {
  text-align: center;
  border-bottom: 2px solid $dark-brown;
  padding: 25px 0px 0px 0px;
}

.joblist-row {
  padding-top: 25px;
  padding-bottom: 15px;
}

.job-title {
  width: 100%
}

.job-location {
  width: 100%;
}

.job-date {
  visibility: hidden;
}

.joblist-heading-mobile{
  display: block;
  margin-bottom: 20px;
}

.joblist-button {
  font-size: rem-calc(16);
  line-height: rem-calc(26);
  letter-spacing: rem-calc(1.2);
}

//---

  .vacancies-title {
    margin-top: 10px;
    // font-size: rem-calc(14);
    // line-height: rem-calc(24);
  }

  .vacancy-name {
    font-size: rem-calc(14);
    line-height: rem-calc(22);
    margin-top: 0;
  }

  .vacancy {
    padding: 35px 0;
  }

 .vacancies{
    margin-top: 10px;
  }

  .vacanies-container {
    padding-bottom: 35px;
  }

  .vacancies-team {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .vacancies-team .icon-small-20 {
    margin-top: 3px;
  }

  .team-images {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .vacancies-handwriting {
    padding-top: 40px;
    padding-bottom: 15px;
  }
}
