@font-face {
    font-family: 'printhousemedium';
    src: url('../src/fonts/printhouse-webfont.woff2') format('woff2'),
         url('../src/fonts/printhouse-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avianbold';
    src: url('../src/fonts/avian_bold-webfont.woff2') format('woff2'),
         url('../src/fonts/avian_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: 'Georgia';
  font-size: $font-size-body;
}

body {
  font-size: rem-calc(18);
}

h1 {
  font-family: 'avianbold';
  text-align: center;
  text-transform: uppercase;
  font-size: 3.3rem; //39
  line-height: 4rem;  // 47
  letter-spacing: 0.25rem;
  word-wrap:break-word;
}

h2 {
  font-family: 'avianbold';
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem; //24
  line-height: 2rem; // 31
  letter-spacing: 0.16rem;
  word-wrap:break-word;
}

h3 {
  font-family: 'avianbold';
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem; // 16
  line-height: 2rem; // 24
  letter-spacing: 0.16rem;
}

h4 {
  font-family: 'avianbold';
  text-align: center;
  text-transform: uppercase;
  font-size: 1.125rem;  //14
  line-height: 1.6rem; //22
  letter-spacing: 0.16rem;
}

.body-copy-big{
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.3rem; // 16
  line-height: 2rem; // 24
}

.body-copy{
  font-family: Georgia;
  font-weight: normal;
  font-size: rem-calc(18);
  line-height: rem-calc(28);
}

.body-copy-small {
  font-family: Georgia;
  font-weight: normal;
  font-size: 0.84rem; // 10
  line-height: 1.25rem; // 15
}

.allergense {
  font-family: 'avianbold';
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px; // 21
  letter-spacing: 0.09rem;
}

.header {
  font-family: 'avianbold';
  text-transform: uppercase;
  font-size: 0.9rem; //10.5
  line-height: 1.7rem; // 20
  letter-spacing: 0.15rem;
}


// all links have this class
.avian {
  font-family: 'avianbold';
  text-transform: uppercase;
  font-size: rem-calc(14);
  line-height: rem-calc(24);
  letter-spacing: 0.09rem;

}


@mixin link {
  a {
    color: $brown;
    text-decoration: none;

    &:visited {
      color: $brown;
      text-decoration: none;
    }
    &:hover {
      color: $brown;
      text-decoration: none;
      transition: all 0.3s ease;
    }
    &:active, &:focus {
      color: $brown;
      text-decoration: none;
    }
  }
}

.submenu{
  font-family: 'avianbold';
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.09rem;
}

@mixin menu-link {
  a {
    color: $white;
    text-decoration: none;
    &:visited {
      color: $white;
      text-decoration: none;
    }
    &:hover {
      color: $white;
      text-decoration: none;
    }
    &:active, &:focus {
      color: $white;
      text-decoration: none;
    }
  }
}


.handwriting{
  font-family: 'printhousemedium';
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: $dark-red;
}


/**
 * Meal
 */
.meal-single-title {
  font-family: 'avianbold';
  text-transform: uppercase;
  // font-size: rem-calc(18);
  // line-height: rem-calc(28);
  text-align: left;
}

.shared-meal-single-title {
  text-align: center;
}

.meal-single-desc {
  font-family: Georgia;
  font-size: rem-calc(18);
  line-height: rem-calc(28);
  font-weight: normal;
  text-align: left;
  color: $grey;
}

.shared-meal-single-desc{
  text-align: center;
}

.shared-menu-price {
  font-family: 'avianbold';
  text-transform: uppercase;
  text-align: left;
  color: $brown;
  font-size: 14px;
  line-height: 24px; // 21
  letter-spacing: 0.09rem;
}




.content-title {
  font-family: 'avianbold';
  text-transform: uppercase;
  font-size: rem-calc(18);
  line-height: rem-calc(24);
  text-align: center;
}

.about-content {
  font-family: Georgia;
  font-size: rem-calc(20);
  line-height: rem-calc(32);
}


@include max-screen(600px) {

  h1 {
    font-family: 'avianbold';
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 2.1rem;
  }

  h2 {
    font-family: 'avianbold';
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  h3 {
    font-family: 'avianbold';
    text-transform: uppercase;
    font-size: 1.05rem;
    line-height: 1.8rem;
  }

  h4 {
    font-family: 'avianbold';
    text-transform: uppercase;
    font-size: 0.9rem;
    line-height: 1.35rem;
  }

  .body-copy-big{
    font-family: Georgia;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .body-copy{
    font-family: Georgia;
    font-weight: normal;
    font-size: 0.88rem;
    line-height: 1.25rem;
  }

  .body-copy-small {
    font-family: Georgia;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 1rem;
  }

  .allergense{
    font-family: 'avianbold';
    text-transform: uppercase;
    font-size: rem-calc(10);
    line-height: rem-calc(20);
  }

  // all links have this class
  .avian-small {
    font-family: 'avianbold';
    text-transform: uppercase;
    font-size: 0.62rem;
    line-height: 0.88rem;
  }

  .handwriting{
    font-family: 'printhousemedium';
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .meal-single-desc {
    font-size: rem-calc(14);
    line-height: rem-calc(21);
  }

}


