/**
 * Animate preloader
 */
.animate-show,
.animate-hide {
  -webkit-transition: all linear 0.15s;
  -moz-transition: all linear 0.15s;
  -ms-transition: all linear 0.15s;
  -o-transition: all linear 0.15s;
  transition: all linear 0.15s;
}

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

// padding
.max-width{
  max-width: $max-width;
  margin: 0 auto;
  min-height: 100%;
}

.outer-container{
  padding: 39px 56px 0;
  overflow: auto;
  text-align: center;
  min-height: 100%;
}

.inner-container{
  padding: 56px;
  overflow: auto;
}

.section-padding {
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: auto;
}

.page-wrap {
  background: $black-lighter;
}

// text
.text-padding{
  max-width: 640px;
  padding-top: 55px;
  padding-bottom: 55px;
  margin: 0 auto;

  & + .text-padding {
    padding-bottom: 40px;
  }
}


.section-content p {
  font-size: rem-calc(18);
}

.section-content p:not(:last-child) {
  margin: 0 0 30px;
}

// .section-content-firstline::first-line{
//   color: $brown;
//   @extend .avian;
//   text-transform: uppercase;
//   font-size: rem-calc(15);
//   line-height: rem-calc(28);
//   letter-spacing: rem-calc(1.2);
// }

.section-content a {
  color: $brown;
  text-decoration: none;
  @include transition(all, 0.2s);

  &:hover {
    // color: $grey;
    text-decoration: none;
    letter-spacing: .5px;
  }
}


.black{
  background: $black-lighter;
  color: $light-grey;
}

.white{
  background: $white;
  color: $dark-brown;
}

.main-collums {
  @include span(6);
}


.overlay {
  position: relative;
}

.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.overlay-black:after{
  background: $black-lighter;
  opacity:.2;
}

.overlay-brown:after{
  background: $brown;
  opacity:.75;
}


.overlay-text{
  color: $white;
  left: 0;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

h1.overlay-title{
  font-size: 5vw;
  line-height: 6.2vw;
}

h2.overlay-subtitle{
  font-size: 2vw;
  line-height: 3vw;
}

/**
 * Handwriting
 */
.handwriting {
  padding-bottom: 40px;
}


// other images

.images-container {
  margin: 20px 0;
}

.img{
  display: flex;
  justify-content: center;
  overflow: auto;
}


.img-big{
  display: block;
  max-width: 475px;
  height: 660px;
  padding: 15px 15px 15px 15px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    overflow: hidden;
    font-family: 'object-fit: cover;  object-position: 50% 40%;';
  }
}


.image-vertical{
  display: flex;
  flex-direction: column;
}

.img-small{
  max-width: 475px;
  height: 315px;
  padding: 15px 15px 15px 15px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    overflow: hidden;
    font-family: 'object-fit: cover;  object-position: 50% 40%;';
  }
}




.link{
  color: $brown;
  @include link;
  @extend .avian;
  @include transition(all, 0.3s);
}



// Logos, icons and lines
.logo-big {
  width: 25%;
  box-sizing: border-box;
  height: auto;
  margin: 0 auto;
}

.icon-small{
  width: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-smaller {
  width: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-small-18 {
  width: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-small-20 {
  width: 20px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.short-hr{
  border: 0;
  width: 20px;
  height: 2px;
}

hr.grey-hr{
  @extend .short-hr;
  background: $grey;
  margin: 15px auto;
}

hr.white-hr{
  @extend .short-hr;
  background: $white;
}

.long-hr {
  width: 100%;
  height: 1px;
}

hr.grey-big-hr {
  @extend .long-hr;
  background: $light-grey3;
}

.border-bottom-grey {
  border-bottom: 2px solid $light-grey3;
}

.border-bottom-grey:last-child {
  border-bottom: none;
}


//button
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: solid 2px;
  width: 260px;
  padding: 20px 40px 20px 40px;
  @include transition(all, 0.2s);
  cursor: pointer;
}


.brown-button {
  border: solid 2px $brown;
  color: $brown;
  cursor: pointer;
  @include transition(all, 0.2s);
    &:hover {
    letter-spacing: 2px;
  }
}


.button-transparent {
  color: $brown;
  border: 2px solid $brown;
  text-decoration: none;
  @include transition(all, 0.2s);
  &:hover {
  letter-spacing: 3px;
  }
}

.button-full {
  z-index: 100;
  position: fixed;
  display: block;
  bottom: 0;
  width: -webkit-calc(100% - 122px);
  width: -moz-calc(100% - 122px);
  width: calc(100% - 122px);
  max-width: 1878px;
  padding: 15px 5px;

  font-family: 'avianbold';
  font-size: rem-calc(16);
  line-height: rem-calc(26);
  background: $dark-red;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
  @include transition(all, 0.2s);

  &:hover,
  &:focus {
    letter-spacing: 2px;
    background: $dark-red2;
  }
}

.bottom-space-for-booking-button{
  height: 70px;
}


/**
 * Header
 */
.header-wrapper {
}

.header-main,
.header-submenu {
  @include susy-clearfix;

}

.header-main {
  position: relative;
  padding-bottom: 15px;
}

.restaurant-list,
.logo-wrap,
.main-menu {
  @include span(4 inside no-gutter);
}
// Restaurant dropdown
.restaurant-list {
  color: $grey;
  padding-top: 15px;
  @extend .avian;
}

.restaurant-list a {
  text-decoration: none;
  @extend .link;
}

.restaurant-city-dropdown {
  font-family: Georgia;
  font-weight: normal;
  font-size: 0.5rem; // 10
  line-height: 1.25rem; // 15
  color: $brown;
}

.restaurant-city-mobile-menu{
  text-transform: none;
  letter-spacing: 0.0rem;
}

// Logo section
.logo-wrap {
  text-align: center;
}

.logo {
  max-width: 120px;
}
// Menu section
.menu-list {
  float: right;
  padding: 12px 0 0;
  margin: 0;
  list-style: none;
  @include susy-clearfix;
}

.menu-list li {
  float: left;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.restaurant-list a,
.menu-list a {
  @extend .link;
  color: $grey;
  text-decoration: none;

  &:hover {
    // color: $light-grey;
    letter-spacing: 2px;
  }

  &.active {
    color: $brown;
  }
}

.selected-language {
  display: inline-block;
  color: $brown;
}

.mobile-menu-restaurants{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}



.header-submenu {
  padding-top: 18px;
  padding-bottom: 12px;
  background: $black;
}

.submenu-list {
  padding: 0;
  margin: 0;
}

.submenu-list li {
  position: relative;
  display: inline-block;
  padding-right: 45px;
  font-size: 0;

  &:not(:last-child):after {
    position: absolute;
    content: '';
    top: 8px;
    right: 12px;
    width: 15px;
    height: 2px;
    background: $grey;
  }
}

.submenu-list a {
  text-decoration: none;
  @extend .link;
  @extend .submenu;
  color: $grey;
  white-space: nowrap;

  &:hover {
    letter-spacing: 2.5px;
    // color: $light-grey;
  }
}

/**
 * Container widths
 */
.narrow-width {
  max-width: 640px;
  margin: 0 auto;
}

/**
 * Preloader
 */
.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $black;
  z-index: 99999;
}

.preloader-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100px;
  margin: auto;
  background: url('../img/small-icon.svg') no-repeat 50%;

-webkit-animation: rotate-vert-center .75s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  -moz-animation: rotate-vert-center .75s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  animation: rotate-vert-center .75s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;

  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
  -o-backface-visibility:hidden; /* opera */
  backface-visibility:hidden;
}

/**
 * Footer
 */
.footer {
  @include susy-clearfix;
}

.to-top {
  text-align: center;
  padding: 18px 0;
  @extend .submenu;
}

.to-top-anchor {
  text-decoration: none;
  @extend .link;

  &:hover {
    letter-spacing: 2.5px;
    // color: $light-grey;
  }
}

/**
 * Mobile menu
 */
.mobile-menu {
  display: none;
  position: absolute;
  top: 6px;
  right: 0;
  z-index: 200;
}

.mobile-menu-icon {
  width: 20px;
  height: 17px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.mobile-menu-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: $grey;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.mobile-menu-icon span:nth-child(1) {
  top: 0px;
}

.mobile-menu-icon span:nth-child(2),.mobile-menu-icon span:nth-child(3) {
  top: 8px;
}

.mobile-menu-icon span:nth-child(4) {
  top: 16px;
}

.mobile-menu-icon.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.mobile-menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile-menu-icon.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.mobile-restaurant-list {
  display: none;
}

/**
 * Responsive
 */
@include min-screen(2000px) {
  h1.overlay-title{
    font-size: 100px;
  }

  h2.overlay-subtitle{
    font-size: 40px;
  }
}

@include max-screen(1100px) {
  .img-big{
    width: auto;
    max-height: 480px;
    padding: 10px 10px 10px 10px;
  }

  .img-small{
    width: auto;
    max-height: 230px;
    padding: 10px 10px 10px 10px;
  }
}

@include max-screen(1150px) {

  .outer-container {
    padding: 20px 56px 0;
  }

  .header-main {
    padding-bottom: 8px;
  }

  .header-submenu,
  .header-main .restaurant-list {
    display: none;
  }

  .header-main .logo-wrap {
    position: relative;
    @include span(12 inside no-gutter);
    z-index: 150;
  }

  .mobile-menu {
    display: block;
  }

.mobile-restaurant-list {
  display: block;
}

  .logo {
    max-width: 80px;
  }

  .main-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $black;
    max-height: 0;
    overflow: hidden;
    z-index: 110;
    @include transition(all, 0.3s);
  }

  .main-menu.open {
    position: fixed;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  .menu-list {
    padding-top: 115px;
    padding-bottom: 70px;
    float: none;
    border-bottom: 1px solid $dark-brown;
  }

  .menu-list li {
    float: none;
    display: block;
    margin: 0;

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  .menu-list li:not(:last-child) {
    margin-bottom: 8px;
  }

  .header-main .menu-list a {
    font-size: rem-calc(18);
    line-height: rem-calc(46);
  }


  h4.mobile-menu-restaurant-header{
    color: $grey;
  }

  // disable body scroll
  .noscroll {
    overflow: hidden;
  }


}

@include max-screen(720px) {
  .outer-container{
    padding: 20px 20px 10px;
  }

  .inner-container{
    padding: 20px;
  }

  .main-collums{
    @include span(12);
  }



  h1.overlay-title{
    font-size: 6vw;
  }

  h2.overlay-subtitle{
    font-size: 3vw;
    line-height: 6vw;
  }

  .logo-big {
    width: 40%;
  }

  .img{
    display: block;
  }

  .img-big {
    width: auto;
    height: auto;
    max-height: 800px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
  }

  .img-small{
    width: auto;
    height: auto;
    max-height: 800px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
  }

  .text-padding {
    width: 100%;
  }

  .button-full {
    width: -webkit-calc(100% - 50px);
    width: -moz-calc(100% - 50px);
    width: calc(100% - 50px);
  }
}

@include max-screen(600px) {
  .link,
  .link a {
    font-size: rem-calc(10);
  }

  .to-top {
    padding: 28px 0 18px;
  }

  .button {
    width: 150px;
    padding: 8px 23px 8px 23px;
  }

  .button-full {
    font-size: rem-calc(14);
    line-height: rem-calc(25);
    width: -webkit-calc(100% - 50px);
    width: -moz-calc(100% - 50px);
    width: calc(100% - 50px);
  }

  .section-title {
    font-size: rem-calc(10);
    line-height: rem-calc(20);
    letter-spacing: 0.02rem;
  }

  .section-content p {
    font-size: rem-calc(14);
    line-height: rem-calc(20);
  }

  .section-content p:not(:last-child) {
    margin: 0 0 20px;
  }

  .images-container {
    margin: 15px 0;
  }

  .text-padding + .text-padding {
    padding-top: 30px;
  }

  hr.grey-hr{
    margin: 10px auto;
  }
}
