


// Header image section

.header-img-wrapper{
  @include aspect-ratio(16,9);
}

.header-image-ratio {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.header-image {
  position: absolute;
  width: 100%;
  height: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    overflow: hidden;
    font-family: 'object-fit: cover;  object-position: 50% 40%;';

    // -webkit-animation: move 40s ease infinite;
    // animation: move 40s ease infinite;
    // -webkit-transform-origin: center right;
    // -ms-transform-origin: center right;
    // transform-origin: center right;
  }
}
