.home-restaurant-list {
  padding-top: 95px;
}

.home-restaurant-list .icon-small {
  margin-top: 14px;
}

.restaurants {
  position: relative;

  &:before {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    width: 1px;
    height: 100%;
    margin: 0 auto;
    background: $dark-brown;
  }

  &:after {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: $black-lighter;
    z-index: 20;
  }
}

.restaurants-wrapper {
  @include susy-clearfix;
}

.restaurant {
  position: relative;
  @include span(6);
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 50px 0px;

  &:nth-child(odd):not(.restaurant-watermark):after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 1px;
    height: 100%;
    background: $dark-brown2;
  }

  .restaurants-wrapper.odd:not(.watermark) &:not(:last-child):before,
  .restaurants-wrapper.watermark:not(.odd) &:not(.restaurant-watermark):not(:nth-last-child(2)):not(:nth-last-child(3)):before,
  .restaurants-wrapper.odd.watermark &:not(:last-child):not(:nth-last-child(2)):before,
  .restaurants-wrapper:not(.odd):not(.watermark) &:not(:last-child):not(:nth-last-child(2)):before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: $dark-brown2;
  }
}

.restaurants-wrapper.even.watermark .restaurant-watermark {
  @include span(12);
}

.restaurant-name{
  margin-bottom: 8px;
  color: $white;
  @include transition(all, 0.2s);
  &:link {
    text-decoration: none;
  }
  &:hover {
    letter-spacing: 3px;
  }
}

.restaurant-subheader {
  font-size: rem-calc(14);
  line-height: rem-calc(24);
  color: $grey;
}

.restaurant-links {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.restaurant-links a {
  @include transition(all, 0.2s);
}

.restaurant-links a:hover,
.restaurant-links a:focus {
  // color: $white;
  letter-spacing: 2px;
  text-decoration: none;
}

.restaurant-line{
  color: $grey;
  padding-left: 10px;
  padding-right: 10px;
}


.restaurant-city {
  color: $grey;
  margin-bottom: 5px;
}

/**
 * Family section
 */
.home-family {
  margin-top: 45px;
}

.home-family .button-careers {
  margin-top: 25px;
}

h4.button-careers{
  font-size: 1.75vw;
}

.white-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: solid 2px;
  width: 300px;
  // padding: 20px 40px 20px 40px;
  padding: 1.5% 1%;
  @include transition(all, 0.2s);
  cursor: pointer;
  color: $white;
  text-decoration: none;
  &:visited {
    color: $white;
  }
  &:hover {
  letter-spacing: 3px;
  }
  &:active {

  }
}

/**
 * Social networks section
 */
.social {
  padding-top: 100px;
  padding-bottom: 100px;
}

.social h3 {
  color: $white;
  margin-bottom: 14px;
}

.instagram-feed {
  @include susy-clearfix;
}
.instagram-item {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}



.instagram-item-picture {


}

.header-image {

}

.social-networks {
  margin-bottom: 48px;
  text-align: center;
  @include susy-clearfix;
}

.social-networks-list {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  @include susy-clearfix;
}

.social-network {
  float: left;
}

.social-network,
.social-network a {
  font-size: rem-calc(14);
  line-height: rem-calc(24);
}

.social-network:not(:last-child) {
  position: relative;
  padding-right: 40px;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 20px;
    width: 1px;
    height: 100%;
    background: $grey;
  }
}

.social-link {
  @extend .link;
  text-decoration: none;
  @include transition(all, 0.2s);

  &:hover,
  &:focus {
    // color: $grey;
    letter-spacing: 2px;
  }
}

@include max-screen (1015px){
  .restaurant {
    @include span(12);

    .restaurants-wrapper.watermark:not(.odd) &:not(.restaurant-watermark):not(:nth-last-child(2)):before,
    .restaurants-wrapper.odd.watermark &:not(:last-child):not(:nth-last-child(2)):before,
    .restaurants-wrapper:not(.odd):not(.watermark) &:not(:last-child):before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      width: 100%;
      height: 1px;
      margin: 0 auto;
      background: $dark-brown2;
    }
  }

  .restaurant:nth-child(odd):after {
    display: none;
  }

  h4.button-careers{
    font-size: 2.5vw;
  }

  .white-button{

    padding: 2%;
  }
}

@include max-screen (720px){


  .instagram-item {
    width: 46%;
    float: left;
    margin: 2%;
    padding-bottom: 46%; /* = width for a 1:1 aspect ratio */

  }
}

@include max-screen (600px){
  .home-restaurant-list {
    padding-top: 75px;
  }

  .home-restaurant-list .icon-small {
    width: 18px;
    margin-top: 9px;
  }


  .restaurant {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .restaurant-name {
    font-size: rem-calc(18);
    margin: 0;
  }

  .restaurant-subheader {
    font-size: rem-calc(10);
    line-height: rem-calc(18);
    padding: 6px 0;
  }

  .restaurant-links {
    margin-top: 0;
  }

  .restaurant.restaurant-watermark {
    padding-top: 20px;
    padding-bottom: 10px;
  }

.restaurant-city {
  margin-bottom: 8px;
}


h4.button-careers{
  font-size: 3vw;
}

.white-button{
  width: 225px;
  padding: 3% 4% 3% 4%;
}

  .social {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .social h3 {
    font-size: rem-calc(18);
    line-height: rem-calc(35);
    margin-bottom: 4px;
  }

  .social-network,
  .social-network a {
    font-size: rem-calc(10);
    line-height: rem-calc(22);
  }

  .social-networks {
    margin-bottom: 38px
  }
}
