// Main image

.header-img-wrapper{
  @include aspect-ratio(16,9);
}

.header-image-ratio {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}


// Main static image

.header-image {
  position: absolute;
  width: 100%;
  height: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    overflow: hidden;
    font-family: 'object-fit: cover;  object-position: 50% 40%;';
  }
}





// Main image with Ken Burns

.slideshow {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 2000px;
  max-height: 1500px;
  margin: 0 auto;
  overflow: hidden;
}



// 2 image in slideshow

.slideshow-two-images {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns-two-images;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  opacity: 1;
  transform: scale(1.2);
}

.slideshow-two-images:nth-child(1) {
  animation-name: kenburns-two-images-1;
  z-index: 1; }
.slideshow-two-images:nth-child(2) {
  animation-name: kenburns-two-images-2;
  z-index: 0; }


// three images in lideshow
.slideshow-three-images {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns-three;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 16.5s;
  opacity: 1;
  transform: scale(1.16);
}

  .slideshow-three-images:nth-child(1) {
    animation-name: kenburns-three-1;
    z-index: 2;
  }
  .slideshow-three-images:nth-child(2) {
    animation-name: kenburns-three-2;
    z-index: 1;
  }
  .slideshow-three-images:nth-child(3) {
    animation-name: kenburns-three-3;
    z-index: 0;
  }


// four images in lideshow

.slideshow-four-images {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns-four;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 22s;
  opacity: 1;
  transform: scale(1.16);
}
  .slideshow-four-images:nth-child(1) {
    animation-name: kenburns-four-1;
    z-index: 3; }
  .slideshow-four-images:nth-child(2) {
    animation-name: kenburns-four-2;
    z-index: 2; }
  .slideshow-four-images:nth-child(3) {
    animation-name: kenburns-four-3;
    z-index: 1; }
  .slideshow-four-images:nth-child(4) {
    animation-name: kenburns-four-4;
    z-index: 0; }




// keyframe animations over 2000px screen-width

@keyframes kenburns-two-images-1 {
  0% {
    opacity: 1;
    transform: scale(1.2) translate(80px, 20px);}
  4.16667% {
    opacity: 1; }
  45.83333% {
    opacity: 1;
  }
  54.16667% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px);}
  100% {
    opacity: 0;
  }
  95.83333% {
    opacity: 0;
    transform: scale(1.21538) translate(85px, 25px);}
  100% {
    opacity: 1;
    transform: scale(1.2) translate(80px, 20px);
  } }

@keyframes kenburns-two-images-2 {
  45.83333% {
    opacity: 1;
    transform: scale(1.2) translate(-80px, -20px);}
  54.16667% {
    opacity: 1; }
  95.83333% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px);}
}



// two images

@keyframes kenburns-three-1 {
  0% {
    opacity: 1;
    transform: scale(1.16) translate(75px, 20px); }
  3.0303% {
    opacity: 1; }
  30.30303% {
    opacity: 1; }
  36.36364% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px);}
  100% {
    opacity: 0;
    transform: scale(1.16) translate(85px, 30px);}
  96.9697% {
    opacity: 0;
    transform: scale(1.17333) translate(80px, 25px);}
  100% {
    opacity: 1;
    transform: scale(1.16) translate(75px, 20px); }
  }

@keyframes kenburns-three-2 {
  30.30303% {
    opacity: 1;
    transform: scale(1.16) translate(-10px, 40px);}
  36.36364% {
    opacity: 1; }
  63.63636% {
    opacity: 1; }
  69.69697% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px);}
  100% {
    opacity: 0;
    transform: scale(1.16) translate(-10px, 40px);} }

@keyframes kenburns-three-3 {
  63.63636% {
    opacity: 1;
    transform: scale(1.16) translate(-80px, -20px); }
  69.69697% {
    opacity: 1; }
  96.9697% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px); }
}


// three images

@keyframes kenburns-four-1 {
  0% {
    opacity: 1;
    transform: scale(1.16) translate(75px, 20px);}
  2.27273% {
    opacity: 1; }
  22.72727% {
    opacity: 1; }
  27.27273% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px); }
  100% {
    opacity: 0;
    transform: scale(1.16) translate(85px, 30px); }
  97.72727% {
    opacity: 0;
    transform: scale(1.17333) translate(80px, 25px); }
  100% {
    opacity: 1; transform: scale(1.16) translate(75px, 20px);}
}

@keyframes kenburns-four-2 {
  22.72727% {
    opacity: 1;
    transform: scale(1.16) translate(-10px, 40px);}
  27.27273% {
    opacity: 1; }
  47.72727% {
    opacity: 1; }
  52.27273% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px); }
  100% {
    opacity: 0;
    transform: scale(1.16) translate(-10px, 40px); } }

@keyframes kenburns-four-3 {
  47.72727% {
    opacity: 1;
    transform: scale(1.16) translate(40px, -10px); }
  52.27273% {
    opacity: 1; }
  72.72727% {
    opacity: 1; }
  77.27273% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px); }
  100% {
    opacity: 0;
    transform: scale(1.16) translate(40px, -10px); } }

@keyframes kenburns-four-4 {
  72.72727% {
    opacity: 1;
    transform: scale(1.16) translate(-75px, -20px); }
  77.27273% {
    opacity: 1; }
  97.72727% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1) translate(0px, 0px); } }



// animations under 2000px screen-width with vw and vh %

@include max-screen(2000px) {


@keyframes kenburns-two-images-1 {
  0% {
    opacity: 1;
    transform: scale(1.2) translate(5.7vw, 1.4vh);}
  4.16667% {
    opacity: 1; }
  45.83333% {
    opacity: 1;
  }
  54.16667% {
    opacity: 0;
    transform: scale(1) translate(0vw, 0vh);}
  100% {
    opacity: 0;
  }
  95.83333% {
    opacity: 0;
    transform: scale(1.21538) translate(6vw, 1.5vh);}
  100% {
    opacity: 1;
    transform: scale(1.2) translate(5.7vw, 1.4vh);
  } }

@keyframes kenburns-two-images-2 {
  45.83333% {
    opacity: 1;
    transform: scale(1.2) translate(-5.7vw, -2.8vh);}
  54.16667% {
    opacity: 1; }
  95.83333% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1) translate(0vw, 0vh);}
}


// 3 images in slideshow




@keyframes kenburns-three-1 {
  0% {
    opacity: 1;
    transform: scale(1.16) translate(4vw, 1.05vh); }
  3.0303% {
    opacity: 1; }
  30.30303% {
    opacity: 1; }
  36.36364% {
    opacity: 0;
    transform: scale(1) translate(0vw, 0vh);}
  100% {
    opacity: 0;
    transform: scale(1.16) translate(4.5vw, 1.2vh);}
  96.9697% {
    opacity: 0;
    transform: scale(1.17333) translate(4.275vw, 1.125vh);}
  100% {
    opacity: 1;
    transform: scale(1.16) translate(4vw, 1.05vh); }
  }

@keyframes kenburns-three-2 {
  30.30303% {
    opacity: 1;
    transform: scale(1.16) translate(2.1375vw, -0.525vh);}
  36.36364% {
    opacity: 1; }
  63.63636% {
    opacity: 1; }
  69.69697% {
    opacity: 0;
    transform: scale(1) translate(0vw, 0vh);}
  100% {
    opacity: 0;
    transform: scale(1.16) translate(2.1375vw, -0.525vh);} }

@keyframes kenburns-three-3 {
  63.63636% {
    opacity: 1;
    transform: scale(1.16) translate(-4vw, -1.05vh); }
  69.69697% {
    opacity: 1; }
  96.9697% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1) translate(0vw, 0vh); }
}



// 4 images in slideshow


@keyframes kenburns-four-1 {
  0% {
    opacity: 1;
    transform: scale(1.16) translate(4vw, 1.05vh);}
  2.27273% {
    opacity: 1; }
  22.72727% {
    opacity: 1; }
  27.27273% {
    opacity: 0;
    transform: scale(1) translate(0vw, 0vh); }
  100% {
    opacity: 0;
    transform: scale(1.16) translate(4.5vw, 1.2vh); }
  97.72727% {
    opacity: 0;
    transform: scale(1.17333) translate(4.275vw, 1.125vh); }
  100% {
    opacity: 1;
    transform: scale(1.16) translate(4vw, 1.05vh);}
}

@keyframes kenburns-four-2 {
  22.72727% {
    opacity: 1;
    transform: scale(1.16) translate(-0.52vw, 2.1375vh);}
  27.27273% {
    opacity: 1; }
  47.72727% {
    opacity: 1; }
  52.27273% {
    opacity: 0;
    transform: scale(1) translate(0vw, 0vh); }
  100% {
    opacity: 0;
    transform: scale(1.16) translate(-0.52vw, 2.1375vh); } }

@keyframes kenburns-four-3 {
  47.72727% {
    opacity: 1;
    transform: scale(1.16) translate(2.1375vw, -0.52vh); }
  52.27273% {
    opacity: 1; }
  72.72727% {
    opacity: 1; }
  77.27273% {
    opacity: 0;
    transform: scale(1) translate(0vw, 0vh); }
  100% {
    opacity: 0;
    transform: scale(1.16) translate(2.1375vw, -0.52vh); } }

@keyframes kenburns-four-4 {
  72.72727% {
    opacity: 1;
    transform: scale(1.16) translate(-4vw, -1.05vh); }
  77.27273% {
    opacity: 1; }
  97.72727% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1) translate(0vw, 0vh); } }

}


@include max-screen(720px) {

  .header-img-wrapper {
    @include aspect-ratio(4,3);
  }

}

