/**
 * Restaurant single page
 */
.contact-hours {
  color: $white;
  @include susy-clearfix;
}

.contact-hours h3 {
  margin: 0 0 10px;
  padding: 0;
  font-size: rem-calc(18);
}

.contact-info,
.working-hours {
  @include span(6 inside);
  min-height: 410px;
  @include vertical-center;

  @include max-screen(600px) {
    width: 100%;
    min-height: 280px;
  }
}

.restaurant-address {
  color: $grey;
  width: 200px;
  margin-top: 20px;
  font-style: normal;
  margin: 0 auto;
}

.restaurant-address,
.restaurant-tel,
.restaurant-mail {
  font-size: rem-calc(18);
  line-height: rem-calc(26);
}

.restaurant-tel ,
.restaurant-mail a{
  color: $brown;
  text-decoration: none;
  @include transition(all, 0.2s);

  &:hover {
    // color: $white;
    letter-spacing: .5px;
  }
}

.button-book-table {
  margin-top: 30px;
}

.working-hours {
  background-position: center;
  position: relative;
}

.working-hours:after {
  background: $brown;
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: .75;
}

.working-hours-text{
  z-index: 1;
}

.working-hours-days {
  position: relative;
  margin: 0;
  padding: 15px 0 0;
  font-family: 'avianbold';
  font-size: rem-calc(14);
  line-height: rem-calc(28);
  letter-spacing: rem-calc(1.5);

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    margin: 0 auto;
    margin-top: 6px;
    width: 15px;
    height: 2px;
    background: $white;
  }
}

.restaurant-menu {
  padding: 90px 56px 95px;
  background: $white;
}

.restaurant-menu h2 {
  margin: 0 0 15px;
}

.menu-heading {
  color: $dark-brown;
  padding-bottom: 42px;
}

.meal-category {
  padding: 40px 0 34px;
}

.meal-category-title {
  color: $dark-brown;
  margin: 0px;
  padding-bottom: 10px;
}

.meal-category-content {
  position: relative;
  @include susy-clearfix;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    width: 2px;
    height: 100%;
    margin: 0 auto;
    background: $light-grey3;
  }
}

.meal-single {
  text-align: left;
  margin-bottom: 35px;
  @include span(6 inside no-gutters);

  @include max-screen(720px) {
    @include span(12);
  }

  &:nth-child(odd) {
    padding-right: 28px;
  }

  &:nth-child(even) {
    padding-left: 28px;
  }

  & .meal-single-container {
    padding-right: 20%;

  }

  &:nth-child(2n+1) {
    clear:left;
  }
}

.meal-single-container {
  position: relative;
}

.meal-single-title {
  margin: 0;
  color: $dark-brown;
}

.meal-more {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  background: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  color: $brown;
  @extend .allergense;
  @include transition(color, 0.2s);

  &:focus {
    outline: none;
  }
}

.meal-single-allergens {
  @extend .allergense;
  font-family: 'Georgia';
  color: $light-grey;
}

.meal-single-price {
  position: absolute;
  top: 0;
  right: 0;
  color: $grey;
  @extend .meal-single-title;
}

.restaurant-single-watermark {
  padding-top: 50px;
  text-align: center;
}

.watermark-image {
  width: 100%;
  height: auto;
  max-width: 200px;
}

// Shared menues



.shared-meal-category-content:before {
  display: none;
}

.shared-meal-category-content-inner{
  padding-bottom: 30px;
}

.shared-meals-description{
  font-family: Georgia;
  font-size: 1.125rem;
  line-height: 1.625rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-style: italic;
}


.shared-menu-description{
  font-size: rem-calc(18);
  line-height: rem-calc(26);
  font-style: italic;
  width: 80%;
  margin: 0 auto;
  color: $grey;
  margin-bottom: 50px;
  margin-top: -35px;
}


.shared-meal-category-title{
  font-family: 'avianbold';
  font-size: 1.125rem;  //14
  line-height: 1.3rem; //22
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  color: $light-grey;
  margin: 0px;

  text-align: center;
}

.shared-meal-category-description {
  font-family: Georgia;
  font-style: italic;
  font-size: rem-calc(16);
  line-height: rem-calc(24);
  color: $light-grey;
}


.shared-meal-single {
  @extend .meal-single;
  float: none;
  text-align: center;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 0px;
}

.shared-meal-single-inner{
  padding-bottom: 35px;
}

.shared-meal-single:nth-child(even) {
  padding-left: 0;
}

.shared-meal-single:nth-child(odd) {
  padding-right: 0;
}

.shared-menues-section {
  margin-top: 100px;
}

.meal-category-title{
  display: inline-block;
}

hr.grey-hr-shared-meals {
  background: $light-grey;
}

// Accordion overrides
.vAccordion--default v-pane {
  @extend .border-bottom-grey;
}

.vAccordion--default v-pane-header {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.vAccordion--default v-pane-header::after,
.vAccordion--default v-pane-header::before {
  display: none !important;
}

.vAccordion--default v-pane-header:hover,
.vAccordion--default v-pane-header:focus {
  color: initial !important;
}

.vAccordion--default v-pane-content > div {
  padding: 40px 0 !important;
}

// google streetview
.restaurant-streetview iframe,
.restaurant-streetview object,
.restaurant-streetview embed {
    left: 0;
    width: 100%;
    height: 500px;
    padding: 0;
  }

// About section
.about-restaurants {
  padding-top: 95px;
}

.about-intro {
  @extend .narrow-width;
}

.about-intro-title {
  margin-bottom: 10px;
  color: $white;
}

.about-intro-text {
  color: $light-grey;
  @extend .about-content;
}

.about-intro-text p {
  margin-top: 10px;
}

// Content sections
.content-sections .content-section-single-text + .content-section-single-text {
  margin-top: 68px;
}

.content-section-single:last-child .content-image-block {
  margin-bottom: 0;
}

.content-sections .content-text-block {
  @extend .narrow-width;
}

.content-sections .content-text-block .icon-small-20 {
  margin-top: 20px;
}

.content-sections .content-image-block.narrow-width {
  max-width: 415px;
}

.content-sections .content-image-block {
  margin: 90px auto;
}

.content-sections .content-title {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 20px;
  color: $white;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: '';
    width: 16px;
    height: 1px;
    background: $dark-brown;
  }
}

.content-sections .content-text {
  @extend .meal-single-desc;
}

.content-sections .content-text p {
  margin-top: 16px;
  text-align: center;
}

// Contact section
.about-contact-info {
  padding-top: 90px;
}

.about-contact-info a:not(.restaurant-tel) {
  color: $brown;
  text-decoration: none;
  @include transition(all, 0.2s);

  &:hover,
  &:focus {
    // color: $grey;
    outline: none;
    letter-spacing: .5px;
  }
}

.about-contact-main {
  @include span(4 inside);
  margin: 0 auto;
}

.about-contact-title {
  color: $white;
  margin-bottom: 10px;
}

.contact-main address {
  margin-top: 15px;
  margin-bottom: 25px;
}

.contact-main .contact-phone {
  margin-bottom: 5px;
}

.restaurant-staff {
  @include susy-clearfix;
}

.restaurant-staff-single {
  margin-top: 80px;
  @include span(4 inside);

  @include max-screen(720px) {
    @include span(12 inside);
  }
}

.restaurant-staff-single {
  color: $light-grey;
}

.restaurant-staff-single .content-title {
  color: $white;
  margin-bottom: 32px;
}

.restaurant-staff-single .member-name {
  margin-bottom: 5px;
}

.gm-style-mtc {
  display: none;
}

.restaurant-map {
  margin-top: 90px;
}

.restaurant-map .angular-google-map-container {
  height: 600px;
}

// Book table button in footer
.book-table {
  margin-top: 55px;
}

@include max-screen(900px) {
  .contact-info,
  .working-hours {
    width: 100%;
  }
}

@include max-screen(720px) {
  .meal-category-content:before {
    display: none;
  }

  .meal-single:nth-child(even) {
    padding-left: 0;
  }

  .meal-single:nth-child(odd) {
    padding-right: 0;
  }
}

@include max-screen(600px) {
  .watermark-image {
    max-width: 145px;
  }

.restaurant-address {
  width: 150px;
}

  .contact-hours h3 ,
  .restaurant-address, .restaurant-tel, .restaurant-mail{
    font-size: rem-calc(14);
    line-height: rem-calc(20);
  }

  .restaurant-menu {
    padding: 70px 20px 72px;
  }

  .restaurant-address {
    margin-top: 14px;
  }

  .button-book-table {
    font-size: rem-calc(10);
    line-height: rem-calc(26);
  }

  .restaurant-menu h2, {
    // font-size: rem-calc(22);
    // line-height: rem-calc(35);
    margin: 0 0 5px;
  }

  .menu-heading {
    padding-bottom: 20px;
  }

  .meal-category-title {
    font-size: rem-calc(18);
    line-height: rem-calc(35);
    padding-bottom: 0px;
  }

  .meal-single {
    margin-bottom: 20px;
  }

  .meal-single-title,
  .meal-single-price {
    // font-size: rem-calc(14);
    // line-height: rem-calc(20);
  }

  .meal-category {
    padding: 30px 0 24px;
  }

  .shared-meal-category-content-inner{
    padding-bottom: 0px;
  }

  .shared-meal-category-title {
    font-size: 0.9rem;
    line-height: 1.35rem;
  }

  .shared-meal-category-description {
    font-size: 0.9rem;
    line-height: 1.35rem;
  }

  .shared-meals-description{
    font-size: 1rem;
    line-height: 1.5rem;
    width: 90%;
    margin-bottom: 0px;
  }
  .shared-menu-description {
    font-size: rem-calc(16);
    line-height: rem-calc(24);
  }

  .vAccordion--default v-pane-content > div {
    padding: 26px 0;
  }


  // google streetview
.restaurant-streetview iframe,
.restaurant-streetview object,
.restaurant-streetview embed {
    height: 300px;
  }

  .about-restaurants {
    padding: 48px 20px 0;
  }

  .about-intro-text p {
    margin-top: 40px;
    font-size: rem-calc(16);
    line-height: rem-calc(25);
  }

  .content-sections .content-image-block {
    margin: 70px auto;
  }

  .content-sections .content-title {
    font-size: rem-calc(14);
    padding-bottom: 8px;
  }

  .content-sections .content-text p {
    margin-top: 6px;
  }

  .image-wrapper img {
    max-width: 100%;
  }

  .about-contact-info {
    padding-top: 65px;
  }

  .about-contact-title {
    margin-bottom: 0;
  }

  .contact-main address {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .content-title {
    font-size: rem-calc(14);
    line-height: rem-calc(20);
  }

  .restaurant-staff-single {
    margin-top: 70px;
  }

  .restaurant-staff-single .content-title {
    margin-bottom: 22px;
  }

  .restaurant-map {
    margin-top: 75px;
  }

  .restaurant-map .angular-google-map-container {
    height: 340px;
  }
}
