$max-width: 2000px;


/**
 * Colors
 */
$black:         #242422;
$black-lighter: #2c2a28;
$white:         #fbf6e5;
$dark-brown:    #5f504b;
$dark-brown2:   #453d3a;
$brown:         #a1624c;
$light-brown:   #DFD9C9;
$grey:          #867a76;
$light-grey:    #a39992;
$light-grey2:   #393330;
$light-grey3:   #dad4c2;
$dark-red:      #842F1A;
$dark-red2:     #99331F;

/**
 * Measures
 */
$font-size-body: 16px;
