<div class="overlay overlay-black">
    <div class="header-img-wrapper">
        <div class="header-image-ratio">

            <div class="header-image" ng-if="!homeData.acf.ken_burns_image_gallery">
                <img ng-src="{{frontImage}}" alt="{{frontImage}}">
            </div>


            <div ng-if="homeData.acf.ken_burns_image_gallery">
                <div ng-if="galleryArrLength == 2">
                    <div class="slideshow-translater">
                        <div class="slideshow">
                            <div class="slideshow-two-images" ng-style="{'background-image': 'url(' + image.image + ')'}" ng-repeat="image in homeData.acf.gallery"></div>
                        </div>
                    </div>
                </div>
                <div ng-if="galleryArrLength == 3">
                    <div class="slideshow-translater">
                        <div class="slideshow">
                            <div class="slideshow-three-images" ng-style="{'background-image': 'url(' + image.image + ')'}" ng-repeat="image in homeData.acf.gallery"></div>
                        </div>
                    </div>
                </div>
                <div ng-if="galleryArrLength == 4">
                    <div class="slideshow-translater">
                        <div class="slideshow">
                            <div class="slideshow-four-images" ng-style="{'background-image': 'url(' + image.image + ')'}" ng-repeat="image in homeData.acf.gallery"></div>
                        </div>
                    </div>
                </div>
            </div>


        <div class="overlay-text">
            <div class="logo-big">
                <img src="/wp-content/themes/olivia/img/logo.svg" alt="Logo missing">
            </div>
            <h2 class="overlay-subtitle">
                {{ homeData.acf.header_subtitle }}
            </h2>
        </div>

        </div>
    </div>
</div>

<div class="home-restaurant-list black inner-container">
    <h4>
        {{homeData.acf.restaurant_section_title}}
    </h4>
    <img class="icon-small" src="/wp-content/themes/olivia/img/small-icon.svg" alt="Icon missing">
    <div class="restaurants">
        <div class="restaurants-wrapper" ng-class="{ 'odd': isOdd(restaurants.length), 'even': !isOdd(restaurants.length), 'watermark': homeData.acf.watermark_restaurant }">
            <div ng-repeat="restaurant in restaurants" class="restaurant">

                <div class="restaurant-city body-copy-small">
                    {{restaurant.restaurant_city}}
                </div>
                <h3 class="restaurant-name">
                    <a ui-sref="restaurant({ restaurantId: restaurant.post_name })">
                        {{ restaurant.post_title }}
                    </a>
                </h3>
                <div class="restaurant-subheader avian" ng-if="restaurant.header_subtitle">
                    {{ restaurant.header_subtitle }}
                </div>

                <div class="restaurant-links link">
                    <a ui-sref="restaurant({ restaurantId: restaurant.post_name })" ng-bind-html="homeData.acf.see_restaurant_label"></a>
                    <div class="restaurant-line"> │ </div>
                    <a ui-sref="bookTable({ restaurantId: restaurant.post_name})" ng-bind-html="homeData.acf.book_table_label"></a>
                </div>
            </div>
            <div class="restaurant" ng-class="{ 'restaurant-watermark': homeData.acf.watermark_restaurant }" ng-if="homeData.acf.watermark_restaurant">
              <div class="about-watermark">
                <img class="watermark-image" ng-src="{{ homeData.acf.watermark_image.url }}" alt="{{ homeData.acf.watermark_image.title }}">
              </div>
            </div>
        </div>
    </div>
</div>

<div class="home-family overlay overlay-brown">
    <div class="header-img-wrapper">
        <div class="header-image-ratio">
            <div class="header-image">
                <img ng-src="{{ oliviaFamilyImage }}" alt="{{ oliviaFamilyImageAlt }}">
            </div>
            <div class="overlay-text">
                <h2 class="overlay-subtitle">
                    {{homeData.acf.family_section_subtitle}}
                </h2>
                <h1 class="overlay-title">
                    {{homeData.acf.family_section_title}}
                </h1>

                <div class="button-careers header">
                    <a ui-sref="careers" class="white-button">
                    {{homeData.acf.family_button_label}}
                   </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="social black inner-container">
    <h3>
        {{ homeData.acf.follow_us_title ? homeData.acf.follow_us_title : 'Følg oss' }}
    </h3>
    <div class="social-networks">
        <ul class="social-networks-list">
            <li class="social-network social-network-instagram" ng-if="globalData.social_instagram_url">
                <a class="social-link" target="_blank" ng-href="{{ globalData.social_instagram_url }}">Instagram</a>
            </li>
            <li class="social-network social-network-facebook" ng-if="globalData.social_facebook_url">
                <a class="social-link" target="_blank" ng-href="{{ globalData.social_facebook_url }}">Facebook</a>
            </li>
        </ul>
    </div>
    <div class="instagram-feed" ng-if="instagramPictures.length > 0">
        <div  ng-repeat="picture in instagramPictures |limitTo:6">
            <a href="{{ picture.link }}"  target="_blank">
                <!-- <img class="instagram-item-picture" ng-src="{{ picture.images.standard_resolution.url }}" /> -->
                <div class="instagram-item" ng-style="{'background-image': 'url(' + picture.images.standard_resolution.url + ')'}"></div>
            </a>
        </div>
    </div>
</div>



