<div class="overlay overlay-black">
    <div class="header-img-wrapper">
        <div class="header-image-ratio">

            <div class="header-image" ng-if="!careersData.acf.ken_burns_image_gallery">
                <img  ng-src="{{ frontImage }}" alt="{{ frontImageAlt }}">
            </div>

            <div ng-if="careersData.acf.ken_burns_image_gallery">
                <div ng-if="galleryArrLength == 2">
                    <div class="slideshow-translater">
                        <div class="slideshow">
                            <div class="slideshow-two-images" ng-style="{'background-image': 'url(' + image.image + ')'}" ng-repeat="image in careersData.acf.gallery"></div>
                        </div>
                    </div>
                </div>
                <div ng-if="galleryArrLength == 3">
                    <div class="slideshow-translater">
                        <div class="slideshow">
                            <div class="slideshow-three-images" ng-style="{'background-image': 'url(' + image.image + ')'}" ng-repeat="image in careersData.acf.gallery"></div>
                        </div>
                    </div>
                </div>
                <div ng-if="galleryArrLength == 4">
                    <div class="slideshow-translater">
                        <div class="slideshow">
                            <div class="slideshow-four-images" ng-style="{'background-image': 'url(' + image.image + ')'}" ng-repeat="image in careersData.acf.gallery"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="overlay-text">
                <h2 class="overlay-subtitle">
                    {{ careersData.acf.header_subtitle }}
                </h2>
                <h1 class="overlay-title">
                    {{careersData.acf.header_title}}
                </h1>
            </div>

        </div>
    </div>
</div>

<div class="vacanies-container white inner-container" id="vacancies">



    <div class="body-copy text-padding section-padding">
        <h2> {{careersData.acf.intro_section_title}} </h2>
        <hr class="grey-hr">
        <div ng-bind-html="section_content" class="section-content"></div>
    </div>

     <img class="icon-small-20" src="/wp-content/themes/olivia/img/small-icon.svg" alt="Separator">

    <div class="body-copy text-padding section-padding">
        <h2> {{careersData.acf.vacancy_section_title}} </h2>
        <hr class="grey-hr">
    </div>


    <div id="jobs" class="joblist" ng-if="openCareers.length > 0 && activeIndex === false">
      <div class="joblist-heading">
        <div class="joblist-cell joblist-cell-header job-title">Stilling</div>
        <div class="joblist-cell joblist-cell-header job-location">Sted</div>
        <div class="joblist-cell joblist-cell-header job-date">Søknadsfrist</div>
      </div>

      <div class="joblist-body">
        <div class="job-single joblist-row" ng-repeat="(index, career) in openCareers" ng-click="toggleCareer($index)">
            <div class="joblist-cell job-title" ng-bind-html="career.title"></div>
            <div class="joblist-cell job-location" ng-bind-html="career.Area2">&nbsp;</div>
            <div class="joblist-cell job-date" ng-bind-html="career.pubDateTo | limitTo : 11 : 5"></div>
        </div>
      </div>
    </div>

    <div class="body-copy text-padding section-padding" ng-if="activeIndex !== false">
        <div class="img">
            <div class="img-small job-image" ng-if="openCareers[activeIndex].imageLink">
                <img src="{{ openCareers[activeIndex].imageLink }}" alt="{{ openCareers[activeIndex].title }}">
            </div>
        </div>
      <h2 ng-bind-html="openCareers[activeIndex].title"></h2>
      <hr class="grey-hr">
      <div class="joblist-button joblist-button-top"> <a ng-href="{{openCareers[activeIndex].link}}" target="_blank">SØK STILLING</a></div>
      <div class="job-info" ng-bind-html="openCareers[activeIndex].description"></div>
      <div class="job-extra-details" ng-if="openCareers[activeIndex].contactPerson">
          <strong> Kontaktperson: </strong>
          <div ng-bind-html="openCareers[activeIndex].contactPersonFullName"></div>
          <div ng-bind-html="openCareers[activeIndex].contactPersonPosition"></div>
          <div ng-bind-html="openCareers[activeIndex].contactPersonEmail"></div>
      </div>

      <div class="job-footer">
        <div class="joblist-button" href="#jobs" target="_self" du-smooth-scroll ng-click="toggleCareer('close');">TILBAKE</div>
        <div class="joblist-button"> <a ng-href="{{openCareers[activeIndex].link}}" target="_blank">SØK STILLING</a></div>
      </div>
    </div>

<!--     <div id="reachmee-helper" ng-init="load()"></div>
    <div id="reachmee-script"></div> -->


    <h2 class="vacancies-title" ng-if="vacancies.length > 0"> {{careersData.acf.vacancies_section_title}} </h2>

    <div class="vacancies" ng-if="vacancies.length > 0">
      <div class="vacancies-wrapper">
        <div ng-repeat="vacancy in vacancies" class="vacancy">
            <h3 class="vacancy-name">
                {{vacancy.restaurant}}
            </h3>
            <div class="vacancy-restaurants-closing-date body-copy">
                <div>
                    {{vacancy.vacancy_title}}
                </div>
                <div class="vacancy-line"> │ </div>
                <div>
                    {{vacancy.closing_date_text}} {{vacancy.closing_date}}
                </div>
            </div>
            <div class="vacancy-links link">
                <a target="_blank" href="{{vacancy.button_url}}"> {{vacancy.button_label}} </a>
            </div>
        </div>
      </div>
    </div>

</div>


<div class="vacancies-team black inner-container" id="our-team">

    <h2 class="team-title"> {{careersData.acf.section_title_above_images}} </h2>
    <img class="icon-small-20" src="/wp-content/themes/olivia/img/small-icon.svg" alt="Icon missing">

    <div class="team-images section-padding">

    <div class="img">
        <div class="img-big">
            <img ng-src="{{ careersData.acf.left_image.url }}" alt="{{ careersData.acf.left_image.title }}" >
        </div>

        <div class="image-vertical">
            <div class="img-small">
                <img ng-src="{{ careersData.acf.right_upper_image.url }}" alt="{{ careersData.acf.right_upper_image.title }}">
            </div>

            <div class="img-small">
                <img ng-src="{{ careersData.acf.right_lower_image.url }}" alt="{{ careersData.acf.right_lower_image.title }}">
            </div>
        </div>

    </div>

    </div>

    <div class="vacancies-handwriting handwriting text-padding">
        <div ng-bind-html="content_below_images"></div>
    </div>

    <div class="vacancies-video" ng-if="video">
        <!-- this is a iframe  -->
        <div class="video" ng-bind-html="video"></div>
    </div>

</div>
