<div class="restaurant-single">

  <div class="overlay overlay-black">
      <div class="header-img-wrapper">
          <div class="header-image-ratio">

              <div class="header-image" ng-if="!restaurantData.acf.ken_burns_image_gallery">
                  <img ng-src="{{ frontImage }}" alt="{{ frontImage }}">
              </div>

            <div ng-if="restaurantData.acf.ken_burns_image_gallery">
                <div ng-if="galleryArrLength == 2">
                    <div class="slideshow-translater">
                        <div class="slideshow">
                            <div class="slideshow-two-images" ng-style="{'background-image': 'url(' + image.image + ')'}" ng-repeat="image in restaurantData.acf.gallery"></div>
                        </div>
                    </div>
                </div>
                <div ng-if="galleryArrLength == 3">
                    <div class="slideshow-translater">
                        <div class="slideshow">
                            <div class="slideshow-three-images" ng-style="{'background-image': 'url(' + image.image + ')'}" ng-repeat="image in restaurantData.acf.gallery"></div>
                        </div>
                    </div>
                </div>
                <div ng-if="galleryArrLength == 4">
                    <div class="slideshow-translater">
                        <div class="slideshow">
                            <div class="slideshow-four-images" ng-style="{'background-image': 'url(' + image.image + ')'}" ng-repeat="image in restaurantData.acf.gallery"></div>
                        </div>
                    </div>
                </div>
            </div>


              <div class="overlay-text">
                  <div class="logo-big" ng-if="restaurantData.acf.header_logo_above_title && globalData.logo">
                      <img ng-src="{{ globalData.logo.url }}" alt="{{ globalData.logo.title }}">
                  </div>
                  <h1 class="overlay-title" ng-bind-html="restaurantData.acf.header_title" ng-if="restaurantData.acf.header_title"></h1>
                  <h2 class="overlay-subtitle" ng-bind-html="restaurantData.acf.header_subtitle" ng-if="restaurantData.acf.header_subtitle"></h2>
              </div>
          </div>
      </div>
  </div>

  <div class="contact-hours">
    <div class="contact-info">
      <h4 ng-bind-html="restaurantData.acf.quick_contact_section_title"></h4>
      <img class="icon-smaller" src="/wp-content/themes/olivia/img/small-icon.svg" alt="Separator">
      <address class="restaurant-address" ng-bind="restaurantData.acf.restaurant_address"></address>
      <a class="restaurant-tel" ng-href="tel:{{ restaurantData.acf.restaurant_telephone_number }}" ng-if="restaurantData.acf.restaurant_telephone_number" ng-bind="restaurantData.acf.restaurant_telephone_number"></a>
      <div class="restaurant-mail">
        <a href="mailto:{{ restaurantData.acf.restaurant_email_address }}?subject=Olivia {{restaurantData.acf.header_title}}" ng-bind-html="restaurantData.acf.restaurant_email_address" ng-if="restaurantData.acf.restaurant_email_address"></a>
      </div>
      <a class="button button-transparent button-book-table header" ui-sref="bookTable({ restaurantId: restaurantData.slug})"" ng-bind-html="restaurantData.acf.quick_contact_button_label"></a>
    </div>

    <div class="working-hours" ng-style="{'background-image':'url('+restaurantData.acf.working_hours_background.url+')'}">
      <div class="working-hours-text">
        <h4 ng-bind-html="restaurantData.acf.restaurant_open_hours_text" ng-if="restaurantData.acf.restaurant_open_hours_text"></h4>
        <p class="working-hours-days" ng-bind-html="restaurantData.acf.restaurant_open_hours_days" ng-if="restaurantData.acf.restaurant_open_hours_days"></p>
      </div>
    </div>
  </div>

  <div class="restaurant-menu" id="menu">

    <div class="menu-heading">
      <h2 ng-bind-html="restaurantData.acf.our_menu_section_title"></h2>
      <img class="icon-small-18" src="/wp-content/themes/olivia/img/small-icon.svg" alt="Separator">
    </div>

    <div class="menu-content">
      <v-accordion class="vAccordion--default">

        <v-pane id="accordion-{{ $index }}" class="meal-category" ng-repeat="(categoryName, mealList) in meals">
          <v-pane-header>
            <h3 class="meal-category-title" ng-bind-html="categoryName"></h3>
          </v-pane-header>

          <v-pane-content>
            <div class="meal-category-content">
              <div class="meal-single" ng-repeat="(index, meal) in mealList">
                <div class="meal-single-container">
                  <h4 class="meal-single-title" ng-bind-html="meal.post_title"></h4>
                  <div class="meal-single-desc" ng-bind-html="meal.post_content"></div>
                  <div class="meal-single-allergens" ng-bind="meal.meal_allergens"></div>
                  <div class="meal-single-price" ng-bind="meal.meal_price"></div>
                </div>
              </div>
            </div>
          </v-pane-content>

          <button class="meal-more" ng-click="$pane.toggle()">
            <span ng-bind-html="accordionLabel($pane)"></span>
          </button>
        </v-pane>

      </v-accordion>
    </div>


    <div class="shared-menues-section" ng-if="restaurantData.acf.add_shared_restaurant_meals">
      <div class="menu-heading">
        <h2 ng-bind-html="restaurantData.acf.shared_menu_section_title"></h2>
        <div class="shared-meals-description" ng-bind-html="restaurantData.acf.shared_menu_section_description"></div>
        <img class="icon-small-18" src="/wp-content/themes/olivia/img/small-icon.svg" alt="Separator">
      </div>

      <div class="menu-content">

        <v-accordion class="vAccordion--default">

          <v-pane id="accordion-{{ $index }}" class="meal-category" ng-repeat="(categoryName, mealData) in sharedMeals">
            <v-pane-header>
              <h3 class="meal-category-title" ng-bind-html="categoryName"></h3>
              <span class="shared-menu-price" ng-bind-html="mealData.shared_meals_price"></span>
            </v-pane-header>

            <v-pane-content>
              <div class="meal-category-content shared-meal-category-content">
                <div class="shared-menu-description" ng-bind-html="mealData.description"></div>
                <div class="shared-meal-category-content-inner" ng-repeat="(index, category) in mealData.items">
                  <div class="shared-meal-category-title" ng-bind-html="index"></div>
                  <hr class="grey-hr grey-hr-shared-meals">
                  <div class="shared-meal-single">
                    <div class="shared-meal-single-inner" ng-repeat="(index, meal) in category.items">
                      <h4 class="meal-single-title shared-meal-single-title" ng-bind-html="meal.post_title"></h4>
                      <div class="meal-single-desc shared-meal-single-desc" ng-bind-html="meal.post_content"></div>
                      <div class="meal-single-allergens" ng-bind="meal.meal_allergens"></div>
                      <div class="meal-single-price" ng-bind="meal.meal_price"></div>
                    </div>
                  </div>
                </div>
              </div>
            </v-pane-content>

            <button class="meal-more" ng-click="$pane.toggle()">
              <span ng-bind-html="accordionLabel($pane)"></span>
            </button>
          </v-pane>

        </v-accordion>

      </div>
    </div>

    <div class="restaurant-single-watermark" ng-if="restaurantData.acf.display_watermark">
      <img class="watermark-image" ng-src="{{ restaurantData.acf.watermark_image.url }}" alt="{{ restaurantData.acf.watermark_image.title }}">
    </div>

  </div>


  <div class="restaurant-streetview" ng-bind-html="streetview">

  </div>


  <div class="about-restaurants" id="about">
    <div class="about-intro">
      <h2 class="about-intro-title" ng-bind-html="restaurantData.acf.about_section_title"></h2>
      <img class="icon-small-20" src="/wp-content/themes/olivia/img/small-icon.svg" alt="Separator">
      <div class="about-intro-text" ng-bind-html="restaurantData.acf.about_section_intro"></div>
    </div>

    <div class="content-sections" ng-if="restaurantData.acf.content_sections.length > 0">
      <div class="content-section-single" ng-repeat="(index, section) in restaurantData.acf.content_sections" ng-class="{ 'content-section-single-image': section.acf_fc_layout === 'image_block', 'content-section-single-text': section.acf_fc_layout === 'text_block' }">

        <div class="content-image-block" ng-if="section.acf_fc_layout === 'image_block'" ng-class="{ 'full-width': section.full_width, 'narrow-width': !section.full_width }">
          <div class="header-img-wrapper" ng-if="section.full_width">
            <div class="header-image-ratio">
              <div class="header-image">
                <img ng-src="{{ section.image_file.url }}" alt="{{ section.image_file.name }}">
              </div>
            </div>
          </div>
          <div class="image-wrapper" ng-if="!section.full_width">
            <img ng-src="{{ section.image_file.url }}" alt="{{ section.image_file.name }}">
          </div>
          <img class="icon-small-20" src="/wp-content/themes/olivia/img/small-icon.svg" alt="Separator" ng-if="section.separator_after_section">
        </div>

        <div class="content-text-block" ng-if="section.acf_fc_layout === 'text_block'">
          <h3 class="content-title" ng-bind-html="section.block_title"></h3>
          <div class="content-text" ng-bind-html="section.block_content"></div>
          <img class="icon-small-20" src="/wp-content/themes/olivia/img/small-icon.svg" alt="Separator" ng-if="section.separator_after_section">
        </div>

      </div>
    </div>
  </div>

  <div class="about-contact-info" id="contact-info">
    <div class="contact-main">
      <h2 class="about-contact-title" ng-bind-html="restaurantData.acf.contact_section_title"></h2>
      <img class="icon-small-20" src="/wp-content/themes/olivia/img/small-icon.svg" alt="Separator">
      <address class="restaurant-address" ng-bind="restaurantData.acf.restaurant_address"></address>
      <div class="phone-mail">
        <div class="contact-phone">
          <a class="restaurant-tel" ng-href="tel:{{ restaurantData.acf.restaurant_telephone_number }}" ng-if="restaurantData.acf.restaurant_telephone_number" ng-bind="restaurantData.acf.restaurant_telephone_number"></a>
        </div>
        <div class="restaurant-mail">
          <a href="mailto:{{ restaurantData.acf.restaurant_email_address }}?subject=Olivia {{restaurantData.acf.header_title}}" ng-bind-html="restaurantData.acf.restaurant_email_address" ng-if="restaurantData.acf.restaurant_email_address"></a>
        </div>
      </div>
    </div>

    <div class="restaurant-staff" ng-if="restaurantData.acf.restaurant_staff">
      <div class="restaurant-staff-single" ng-repeat="(index, member) in restaurantData.acf.restaurant_staff">
        <h3 class="content-title" ng-bind-html="member.staff_role"></h3>
        <p class="member-name" ng-bind-html="member.staff_name"></p>
        <div class="member-mail" ng-if="member.role_email">
          <a href="mailto:{{ member.role_email }}" ng-bind-html="member.role_email" ng-if="member.role_email"></a>
        </div>
      </div>
    </div>

    <div class="restaurant-map" ng-if="map.center">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>

  </div>

  <div class="book-table" ng-if="pageSlug">
      <a class="button-full" ui-sref="bookTable({ restaurantId: pageSlug })" ng-bind-html="restaurantData.acf.sticky_footer_button_label"></a>
  </div>


</div>
