<div class="footer-wrapper" ng-cloak>
  <div class="to-top">
    <a class="to-top-anchor" href="#to-top" target="_self" du-smooth-scroll> Topp </a>
  </div>
  <div class="bottom-space-for-booking-button" ng-if="submenuVisible"></div>
</div>
