<div class="overlay overlay-black">
    <div class="header-img-wrapper">
        <div class="header-image-ratio">

            <div class="header-image" ng-if="!englishData.acf.ken_burns_image_gallery">
                <img ng-src="{{ englishData.acf.header_background_image.url }}" alt="{{ englishData.acf.header_background_image.url }}">
            </div>

            <div ng-if="englishData.acf.ken_burns_image_gallery">
                <div ng-if="galleryArrLength == 2">
                    <div class="slideshow-translater">
                        <div class="slideshow">
                            <div class="slideshow-two-images" ng-style="{'background-image': 'url(' + image.image + ')'}" ng-repeat="image in englishData.acf.gallery"></div>
                        </div>
                    </div>
                </div>
                <div ng-if="galleryArrLength == 3">
                    <div class="slideshow-translater">
                        <div class="slideshow">
                            <div class="slideshow-three-images" ng-style="{'background-image': 'url(' + image.image + ')'}" ng-repeat="image in englishData.acf.gallery"></div>
                        </div>
                    </div>
                </div>
                <div ng-if="galleryArrLength == 4">
                    <div class="slideshow-translater">
                        <div class="slideshow">
                            <div class="slideshow-four-images" ng-style="{'background-image': 'url(' + image.image + ')'}" ng-repeat="image in englishData.acf.gallery"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="overlay-text">
                <div class="logo-big" ng-if="englishData.acf.header_logo_above_title && globalData.logo">
                      <img ng-src="{{ globalData.logo.url }}" alt="{{ globalData.logo.title }}">
                  </div>
                <h2 class="overlay-subtitle">
                    {{ englishData.acf.header_subtitle }}
                </h2>
                <h1 ng-if="englishData.acf.header_title_shown" class="overlay-title">
                    {{englishData.acf.header_title}}
                </h1>
            </div>

        </div>
    </div>
</div>

<div class="white inner-container" id="info">
    <div class="body-copy text-padding section-padding">
        <h2> {{englishData.acf.intro_section_title}} </h2>
        <hr class="grey-hr">
        <div ng-bind-html="englishData.acf.intro_section_content" class="section-content section-content-firstline"></div>
    </div>

    <div class="content-sections" ng-if="englishData.acf.content_sections.length > 0">
      <div class="content-section-single" ng-repeat="(index, section) in englishData.acf.content_sections" ng-class="{ 'content-section-single-image': section.acf_fc_layout === 'image_block', 'content-section-single-text': section.acf_fc_layout === 'text_block' }">

        <div class="content-image-block" ng-if="section.acf_fc_layout === 'image_block'" ng-class="{ 'full-width': section.full_width, 'narrow-width': !section.full_width }">
          <div class="header-img-wrapper" ng-if="section.full_width">
            <div class="header-image-ratio">
              <div class="header-image">
                <img ng-src="{{ section.image_file.url }}" alt="{{ section.image_file.name }}">
              </div>
            </div>
          </div>
          <div class="image-wrapper" ng-if="!section.full_width">
            <img ng-src="{{ section.image_file.url }}" alt="{{ section.image_file.name }}">
          </div>
          <img class="icon-small-20" src="/wp-content/themes/olivia/img/small-icon.svg" alt="Separator" ng-if="section.separator_after_section">
        </div>

        <div class="content-text-block" ng-if="section.acf_fc_layout === 'text_block'">
          <h3 class="content-title"> <div class="content-sections-english"> {{ section.block_title }} </div> </h3>
          <div class="content-text content-sections-english"> <div class="content-sections-english" ng-bind-html="section.block_content"></div></div>
          <img class="icon-small-20" src="/wp-content/themes/olivia/img/small-icon.svg" alt="Separator" ng-if="section.separator_after_section">
        </div>

      </div>
    </div>
</div>


<div class="overlay overlay-black">
    <div class="header-img-wrapper">
        <div class="header-image-ratio">
            <div class="header-image">
                <img ng-src="{{ englishData.acf.full_width_image.url }}" alt="{{ englishData.acf.full_width_image.title }}">
            </div>
        </div>
    </div>
</div>


<div class="black inner-container" id="restaurants">

    <h4>
        {{englishData.acf.restaurant_section_title}}
    </h4>

    <img class="icon-small" src="/wp-content/themes/olivia/img/small-icon.svg" alt="Icon missing">

    <div class="restaurants">
        <div class="restaurants-wrapper" ng-class="{ 'odd': isOdd(restaurants.length), 'even': !isOdd(restaurants.length), 'watermark': englishData.acf.watermark_restaurant }">
            <div ng-repeat="restaurant in restaurants" class="restaurant">

                <div class="restaurant-city body-copy-small">
                    {{restaurant.restaurant_city}}
                </div>
                <h3 class="restaurant-name">
                    <a ui-sref="restaurant({ restaurantId: restaurant.post_name })">
                        {{ restaurant.post_title }}
                    </a>
                </h3>
                <div class="restaurant-subheader avian" ng-if="restaurant.header_subtitle">
                    {{ restaurant.header_subtitle }}
                </div>

                <div class="restaurant-links link">
                    <a ui-sref="restaurant({ restaurantId: restaurant.post_name })">Go to restaurant</a>
                    <div class="restaurant-line"> │ </div>
                    <a ui-sref="bookTable({ restaurantId: restaurant.post_name })"> Book table</a>
                </div>

            </div>
            <div class="restaurant" ng-class="{ 'restaurant-watermark': englishData.acf.watermark_restaurant }" ng-if="englishData.acf.watermark_restaurant">
              <div class="about-watermark">
                <img class="watermark-image" ng-src="{{ englishData.acf.watermark_image.url }}" alt="{{ englishData.acf.watermark_image.title }}">
              </div>
            </div>
        </div>
    </div>

</div>