<div class="overlay overlay-black">
    <div class="header-img-wrapper">
        <div class="header-image-ratio">

            <div class="header-image" ng-if="!aboutData.acf.ken_burns_image_gallery">
                <img ng-src="{{ frontImage }}" alt="{{ frontImageAlt }}">
            </div>


            <div ng-if="aboutData.acf.ken_burns_image_gallery">
                <div ng-if="galleryArrLength == 2">
                    <div class="slideshow-translater">
                        <div class="slideshow">
                            <div class="slideshow-two-images" ng-style="{'background-image': 'url(' + image.image + ')'}" ng-repeat="image in aboutData.acf.gallery"></div>
                        </div>
                    </div>
                </div>
                <div ng-if="galleryArrLength == 3">
                    <div class="slideshow-translater">
                        <div class="slideshow">
                            <div class="slideshow-three-images" ng-style="{'background-image': 'url(' + image.image + ')'}" ng-repeat="image in aboutData.acf.gallery"></div>
                        </div>
                    </div>
                </div>
                <div ng-if="galleryArrLength == 4">
                    <div class="slideshow-translater">
                        <div class="slideshow">
                            <div class="slideshow-four-images" ng-style="{'background-image': 'url(' + image.image + ')'}" ng-repeat="image in aboutData.acf.gallery"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="overlay-text">
                <h2 class="overlay-subtitle">
                    {{ aboutData.acf.header_subtitle }}
                </h2>
                <h1 class="overlay-title">
                    {{aboutData.acf.header_title}}
                </h1>
            </div>

        </div>
    </div>
</div>




<div class="white inner-container">

    <div class="body-copy text-padding section-padding">
        <h2> {{aboutData.acf.intro_section_title}} </h2>
        <hr class="grey-hr">

        <div ng-bind-html="intro_section_content" class="section-content section-content-firstline"></div>
    </div>


    <div class="images-container img">
        <div class="img-big">
            <img ng-src="{{ aboutData.acf.left_image.url }}" alt="{{ aboutData.acf.left_image.title }}">
        </div>

        <div class="image-vertical">
            <div class="img-small">
                <img ng-src="{{ aboutData.acf.right_upper_image.url }}" alt="{{ aboutData.acf.right_upper_image.title }}">
            </div>

            <div class="img-small">
                <img ng-src="{{ aboutData.acf.right_lower_image.url }}" alt="{{ aboutData.acf.right_upper_image.title }}">
            </div>
        </div>
    </div>


    <div class="handwriting text-padding">
        <div ng-bind-html="content_below_images"></div>
    </div>


    <div class="about-gift-card text-padding section-padding section-content" id="gift-card">
        <h2> {{aboutData.acf.gift_section_title}} </h2>
        <hr class="grey-hr">
        <div class="body-copy">
            <div ng-bind-html="gift_section_content"></div>
        </div>
    </div>

    <div class="about-events text-padding section-padding section-content" id="events">
        <h2> {{aboutData.acf.banquet_section_title}}</h2>
        <hr class="grey-hr">
        <div class="body-copy">
            <div ng-bind-html="banquet_section_content"></div>
        </div>
    </div>

</div>

<div class="overlay overlay-black">
    <div class="header-img-wrapper">
        <div class="header-image-ratio">
            <div class="header-image">
                <img ng-src="{{ aboutData.acf.full_image.url }}" alt="{{ aboutData.acf.full_image.title }}">
            </div>
        </div>
    </div>
</div>

<div class="about-restaurant-list black inner-container" id="restaurants">

    <h4>
        {{aboutData.acf.restaurant_list_header}}
    </h4>

    <img class="icon-small" src="/wp-content/themes/olivia/img/small-icon.svg" alt="Icon missing">

    <div class="restaurants">
        <div class="restaurants-wrapper" ng-class="{ 'odd': isOdd(restaurants.length), 'even': !isOdd(restaurants.length), 'watermark': aboutData.acf.watermark_restaurant }">
            <div ng-repeat="restaurant in restaurants" class="restaurant">

                <div class="restaurant-city body-copy-small">
                    {{restaurant.restaurant_city}}
                </div>
                <h3 class="restaurant-name">
                    <a ui-sref="restaurant({ restaurantId: restaurant.post_name })">
                        {{ restaurant.post_title }}
                    </a>
                </h3>
                <div class="restaurant-subheader avian" ng-if="restaurant.header_subtitle">
                    {{ restaurant.header_subtitle }}
                </div>

                <div class="restaurant-links link">
                    <a ui-sref="restaurant({ restaurantId: restaurant.post_name })">Se restaurant</a>
                    <div class="restaurant-line"> │ </div>
                    <a ui-sref="bookTable({ restaurantId: restaurant.post_name })"> Bestill bord</a>
                </div>

            </div>
            <div class="restaurant" ng-class="{ 'restaurant-watermark': aboutData.acf.watermark_restaurant }" ng-if="aboutData.acf.watermark_restaurant">
              <div class="about-watermark">
                <img class="watermark-image" ng-src="{{ aboutData.acf.watermark_image.url }}" alt="{{ aboutData.acf.watermark_image.title }}">
              </div>
            </div>
        </div>
    </div>

</div>

<div class="about-cookie-info black inner-container" id="cookies">
    <div class="text-padding section-padding">
        <h4> {{aboutData.acf.cookies_section_title}} </h4>
        <hr class="grey-hr">
        <div ng-bind-html="cookies_section_content" class="body-copy-small"></div>
    </div>
</div>
