<div class="book-table-wrapper black">

  <div class="text-padding">
      <h2 class="book-table-title"><span ng-bind-html="bookData.acf.title_prepended_text"></span> {{restaurantData.acf.header_title}} </h2>
  </div>

  <div class="booking-wrapper">
    <iframe ng-src="{{bookatableId}}" frameborder="0" width="340" height="500"></iframe>
  </div>

</div>
