<div class="header-wrapper">

  <div class="header-main">
    <div class="restaurant-list" ng-if="restaurantList.length > 0">
      <ui-select ng-model="restaurant.selected" theme="selectize" search-enabled="false" reset-search-input="false" title="{{globalData.dropdown_placeholder}}">
        <ui-select-match placeholder="{{globalData.dropdown_placeholder}}">{{$select.selected.title.rendered}}</ui-select-match>
        <!-- <ui-select-choices repeat="restaurant in restaurantList track by $index">
          <a ui-sref="restaurant({ restaurantId: restaurant.slug })">
            <span ng-bind-html="restaurant.title.rendered"></span>
          </a>
        </ui-select-choices> -->
        <ui-select-choices repeat="restaurant in globalData.restaurant_list">
          <a ui-sref="restaurant({ restaurantId: restaurant.post_name })">
            <span> {{restaurant.post_title}} </span>
            <span class="restaurant-city-dropdown"> {{restaurant.restaurant_city}} </span>
          </a>
        </ui-select-choices>
      </ui-select>
    </div>


    <div class="logo-wrap">
      <a ui-sref="app">
        <img class="logo" ng-src="{{ globalData.logo.url }}" alt="">
      </a>
    </div>

    <div class="mobile-menu">
      <div class="mobile-menu-icon" ng-click="toggleMobileMenu()" ng-class="{ 'open': mobileMenuOpened }">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="main-menu" ng-class="{ 'open': mobileMenuOpened }">
      <ul class="menu-list">
        <li>
          <a ui-sref="careers" ui-sref-active="active" ng-bind-html="globalData.careers_link_label"></a>
        </li>
        <li>
          <a ui-sref="about" ui-sref-active="active" ng-bind-html="globalData.about_us_label"></a>
        </li>
        <li>
          <a ui-sref="english" ui-sref-active="active" ng-bind-html="globalData.english_link_label"></a>
        </li>

      </ul>
      <div class="mobile-restaurant-list home-restaurant-list">
        <h4 class="mobile-menu-restaurant-header" ng-bind-html="globalData.choose_olivia_restaurant"></h4>
        <img class="icon-small" src="/wp-content/themes/olivia/img/small-icon.svg" alt="Icon missing">
        <div class="restaurants mobile-menu-restaurants">
            <div class="restaurants-wrapper">
                <div ng-repeat="restaurant in globalData.restaurant_list" class="restaurant"> <!-- restaurant in restaurantList track by $index -->
                    <div class="restaurant-city restaurant-city-mobile-menu body-copy-small">
                        {{restaurant.restaurant_city}}
                    </div>
                    <h3 class="restaurant-name">
                        <a ui-sref="restaurant({ restaurantId: restaurant.post_name })">
                          {{ restaurant.header_title }}
                        </a>
                    </h3>
                    <div class="restaurant-subheader avian" ng-if="restaurant.header_subtitle">
                        {{ restaurant.header_subtitle }}
                    </div>

                    <div class="restaurant-links link">
                        <a ui-sref="restaurant({ restaurantId: restaurant.slug })" ng-bind-html="globalData.see_restaurant"></a>
                        <div class="restaurant-line"> │ </div>
                        <a ui-sref="bookTable({ restaurantId: restaurant.slug})" ng-bind-html="globalData.book_table"></a>
                    </div>
                </div>
            </div>
        </div>
      </div>

    </div>

  </div>

  <div class="header-submenu" ng-if="submenu.visible" hl-sticky="">
    <div class="submenu">
      <ul class="submenu-list">
        <li ng-repeat="(index, item) in submenu.items">
          <a ng-href="{{ item.href }}" target="_self" du-smooth-scroll>{{ item.label }}</a>
        </li>
      </ul>
    </div>
  </div>

</div>
