<div class="site-wrapper max-width" id="to-top">
  <div class="outer-container">

    <header class="header" olivia-header></header>
    <div class="page-wrap" ui-view autoscroll="false"></div>
    <footer class="footer" olivia-footer></footer>

  </div><!-- .outer-container -->
</div><!-- .site-wrapper -->
